<section class="p-5 section1">
    <div class="w-75 mx-auto fw-bold div1">
        <h1 class="fs-1 text-info text-center mb-0">Edit career</h1>
        <form [formGroup]="editForm">
            <!-- <i class="fa-regular fa-circle-xmark fs-3 text-info"></i> -->
            <br><br>
            <label for="No" class="text-info">No. :</label>
            <input formControlName="No" type="text" class="form-control mb-2" id="No" placeholder="No.">
            <label for="Career_name" class="text-info">Career name :</label>
            <input formControlName="Career_name" type="text" class="form-control mb-2" id="Career_name"
                placeholder="Career name">
            <label for="Hours" class="text-info">Hours :</label>
            <input formControlName="Hours" type="number" class="form-control mb-2" id="Hours" placeholder="Hours">
            <label for="Lessons_number" class="text-info">Lessons_number :</label>
            <input formControlName="Lessons_number" type="number" class="form-control mb-2" id="Lessons_number"
                placeholder="Number of lessons">

            <div class="d-flex justify-content-between">
                <button class="btn btn-info w-25 mt-3" type="submit">Save</button>
                <button class="btn btn-info w-25 mt-3" type="submit">Cancel</button>
            </div>

        </form>
    </div>
</section>