<section
  class="container-md d-flex justify-content-center course"
  style="position: relative"
  *ngIf="showCourseSection"
>
  <div class="container-fluid d-flex flex-column">
    <div class="container-md align-self-start header">
      <h1>{{ course.title }}</h1>
      <p>{{ course.description }}</p>
    </div>
    <div *ngFor="let chapter of chapters; index as i">
      <app-chapter
        [chapter]="chapter"
        [i]="i"
        [userChapter]="userProgress"
      ></app-chapter>
    </div>
  </div>
</section>
