.card-img-bottom {
  aspect-ratio: 1/1;
}

.card {
  position: relative;
  left: 50%;
  transform: translate(-50%, 10px);
}
.btn-primary {
  background-color: #03c9d7;
  border: none;
  margin: 10px;
  width: 150px;
  color: black;
}
.fa-solid {
  position: absolute;
  left: 20px;
  top: 20px;
}
