<section class="logout">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img src="../../../../../assets/images/logoutart.svg" alt="" />
    <h1 class="title">Log Out</h1>
    <p>ohh no, you're leaving! Are you sure?</p>
    <div
      class="d-flex flex-column flex-lg-row justify-content-around"
      style="column-gap: 10px; row-gap: 15px"
    >
      <button class="btn btn-primary" (click)="onNavigateHome()">Home</button>
      <button class="btn btn-danger" (click)="onLogout()">Log Out</button>
    </div>
  </div>
</section>
