<h3>{{ slide.question }}</h3>
<form
  class="d-flex flex-column align-items-center"
  #qForm="ngForm"
  (ngSubmit)="onCheck(qForm)"
>
  <input type="text" ngModel required name="answer" />
  <button
    class="btn btn-continue align-self-center"
    type="submit"
    *ngIf="!isAnswerCorrect && !isAnswerWrong"
    [disabled]="qForm.invalid"
  >
    Check
  </button>
  <button
    type="button"
    (click)="continue()"
    class="btn btn-continue align-self-center"
    *ngIf="(isAnswerCorrect || isAnswerWrong) && isLastSlide"
    [ngClass]="{
      'btn-continue-correct': isAnswerCorrect,
      'btn-continue-wrong': isAnswerWrong
    }"
  >
    Continue
  </button>
  <button
    type="button"
    (click)="onFinish()"
    class="btn btn-continue align-self-center"
    *ngIf="(isAnswerCorrect || isAnswerWrong) && isLastSlide"
    [ngClass]="{
      'btn-continue-correct': isAnswerCorrect,
      'btn-continue-wrong': isAnswerWrong
    }"
  >
    Finish
  </button>
</form>
