<div class="pckDetails">
  <div class="pckContiner">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">


        <form id="payment-form">
          <div id="card-element" class="StripeElement"></div>
          <br>
          <br>
          <br>
          <button type="button" (click)="createPaymentIntent()">Subscribe Now</button>
        </form>


      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="selectedPck">






        </div>
      </div>
    </div>
  </div>
</div>