<div class="signup" #form>
  <div class="display-loading-spinner" #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="signup-form">
    <div class="alert alert-danger" style="width: 100%; display: none" #alert>
      {{ errMessage }}
    </div>
    <h1>
      Create Your Account Now <br />
      <span style="color: #0096cb">Build Your Career</span>
    </h1>

    <form
      [formGroup]="signUpForm"
      class="needs-validation"
      (ngSubmit)="onSignUp()"
      novalidate
    >
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="First Name"
          formControlName="userFirstName"
          [ngClass]="{
            'is-valid': signUpForm.get('userFirstName').valid,
            'is-invalid':
              signUpForm.get('userFirstName').touched &&
              signUpForm.get('userFirstName').invalid
          }"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Last Name"
          formControlName="userLastName"
          [ngClass]="{
            'is-valid': signUpForm.get('userLastName').valid,
            'is-invalid':
              signUpForm.get('userLastName').touched &&
              signUpForm.get('userLastName').invalid
          }"
        />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email@Example.com"
          formControlName="userEmail"
          [ngClass]="{
            'is-valid': signUpForm.get('userEmail').valid,
            'is-invalid':
              (signUpForm.get('userEmail').touched &&
                signUpForm.get('userEmail').invalid) ||
              invalidEmail
          }"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="userPassword"
          [ngClass]="{
            'is-valid': signUpForm.get('userPassword').valid,
            'is-invalid':
              signUpForm.get('userPassword').touched &&
              signUpForm.get('userPassword').invalid
          }"
        />
        <div class="form-text text-muted">
          Password Must be at least 8 Characters
        </div>
      </div>
      <select class="form-select" aria-label="select" formControlName="country">
        <option [selected]="!userCountry" value="" disabled>
          Select Country
        </option>
        <option *ngFor="let country of countryList" [value]="country">
          {{ country }}
        </option>
      </select>
      <div class="form-check mb-2 mr-sm-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineFormCheck"
          formControlName="userAgrement"
        />
        <label class="form-check-label" for="inlineFormCheck">
          <span
            style="
              color: #9ba2a6;
              font-size: 15px;
              font-weight: 500;
              line-height: 24px;
            "
          >
            I Agree to
          </span>
          <a href="#" [ngClass]="{ 'disable-link': isLoading }">
            <span
              style="
                color: #0096cb;
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -1px;
              "
              >Terms & Conditions</span
            >
          </a>
        </label>
      </div>
      <button
        type="submit"
        class="btn btn-primary my-1 app-custom-button"
        [disabled]="signUpForm.invalid || isLoading"
      >
        Sign Up
      </button>
    </form>
    <p>
      Already have an Account?
      <span>
        <a
          [routerLink]="['../login']"
          [ngClass]="{ 'disable-link': isLoading }"
          style="color: #0096cbb2; font-size: 20px; font-weight: 700"
          >Sign In</a
        ></span
      >
    </p>
  </div>
</div>
