.signup {
  width: 100%;
  position: relative;
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    h1 {
      margin-bottom: 20px;
    }
    form {
      .form-select {
        width: 200px;
      }
      display: flex;
      flex-direction: column;
      gap: 10px;
      .form-check-input {
        border: 1px solid black;
      }
    }
    p {
      margin-top: 10px;
    }
  }
  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
  }
}

.loading {
  opacity: 0.8;
}

.disable-link {
  cursor: not-allowed;
  pointer-events: none;
}

.logInMethod{
  margin: 20px 0px;
  text-align: center;
  ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    li{
      list-style: none;
      font-size: 36px;
      cursor: pointer;
      &:nth-child(1){
        color: #ff4141;
      }
      &:nth-child(2){
        color: #4267B2;
      }
      &:nth-child(3){
        color: #24292e;
      }
      &:nth-child(4){
        color: #1DA1F2;
      }
    }
  }
}
