.courses {
  margin: 10px 0px 15px 0px;
  .course-card {
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    border: none;
    &:hover {
      background-color: rgb(204, 219, 248);
    }
    &:disabled {
      background-color: #f1f1f1;
    }
    .course {
      margin-left: 20px;
      padding: 0px;
      &-title {
        margin: 0px !important;
        font-size: 20px;
        font-weight: 600;
        color: #2ea2eb;
      }
      &-status {
        color: #9ba2a6;
        font-weight: 400;
        margin-top: 18px;
        margin-left: auto;
      }
    }
    .locked-course {
      font-size: 25px;
    }
    .finished-course {
      color: #0f0;
      font-size: 25px;
    }
  }
}
