<section class="d-flex flex-column flex-lg-row settings">
  <div>
    <nav class="navbar">
      <ul class="navbar-nav d-flex flex-lg-column flex-row">
        <!-- <li class="nav-item" role="presentation">
          <a
            routerLink="./dashboard"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a
            routerLink="./edit-profile"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="./change-password"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-lock"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="./connected-accounts"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-link" style="rotate: 90deg"></i>
            <span>Connected Accounts</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a
            routerLink="./pro"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-crown"></i>
            <span>Pro</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a
            routerLink="./logout"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i
              class="fa-solid fa-right-from-bracket"
              style="rotate: 180deg"
            ></i>
            <span>Logout</span>
          </a>
        </li>
        <li class="nav-item delete-account-active">
          <a
            routerLink="./delete-account"
            class="nav-link d-flex align-items-center"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-user-xmark"></i>
            <span>Delete Account</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
