.delete-account {
  h2 {
    color: red;
    margin-bottom: 20px;
  }
  p:nth-child(2) {
    color: #35434c;
    font-weight: 700;
  }
  p:nth-child(3),
  ul {
    color: #9ba2a6;
    font-weight: 700;
  }
  button {
    padding: 10px 25px;
    @media (max-width: 991px) {
      width: 300px;
    }
  }
  .btn-primary {
    background-color: white;
    border: 1px solid #52b2ee;
    color: #52b2ee;
  }
  .btn-danger {
    background-color: #e43535;
    border: 1px solid #e43535;
    color: white;
  }
}
