<section class="d-flex flex-column delete-account">
  <h2>Delete Your Account</h2>
  <p>Are you sure you want to continue?</p>
  <p>
    If you have a problem, our customer support team will be happy to help. Get
    in touch If you delete your account:
  </p>
  <ul>
    <li>You will lose all of your course progress</li>
    <li>You will lose access to all your certificates</li>
    <li>All the content you have ever created will be deleted</li>
    <li>Your connected social accounts will be disconnected</li>
    <li>Account deletion is permanent. This action cannot be undone</li>
  </ul>
  <div class="d-flex flex-column flex-lg-row" style="gap: 20px">
    <button class="btn btn-danger">Delete Account</button>
    <button class="btn btn-primary">Contact Help</button>
  </div>
</section>
