<div *ngFor="let lect of lectures">
  <button
    class="container-fluid d-flex align-items-baseline lecture"
    (click)="navigateToLecture(lect.id, lect)"
    [disabled]="!userLecturesID.includes(lect.id)"
  >
    <div class="d-flex flex-column align-items-start">
      <p class="lecture-text">Lesson</p>
      <p class="lecture-title">{{ lect.title }}</p>
    </div>
    <i
      class="fa-solid fa-lock align-self-center"
      style="margin-left: auto"
      *ngIf="!userLecturesID.includes(lect.id)"
    ></i>
    <div
      class="d-flex flex-column align-self-center finished"
      style="margin-left: auto"
      *ngIf="getFinishDate(lect.id)"
    >
      <i class="fa-solid fa-check"></i>
      <span style="margin-top: auto">{{
        getFinishDate(lect.id) | date : "MMM d, y"
      }}</span>
    </div>
  </button>
</div>
