<section class="container pro">
  <div class="row title">
    <div class="col">
      <h2>Career Officer Pro</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div
        class="price-card d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-between"
      >
        <div class="d-flex flex-column info">
          <h4>Free</h4>
          <p>
            Most calendars are designed for teams. Slate is designed for
            freelancers who want a simple way
          </p>
        </div>
        <div
          class="d-flex flex-row flex-lg-column justify-content-evenly"
          style="column-gap: 20px"
        >
          <div class="d-flex">
            <div class="price">0</div>
            <div class="d-flex flex-column justify-content-evenly price-info">
              <p>$</p>
              <small>Per Month</small>
            </div>
          </div>
          <button class="btn btn-primary">Try For Free</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div
        class="price-card standard d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-between"
      >
        <div class="d-flex flex-column info">
          <h4>Standard</h4>
          <p>
            Most calendars are designed for teams. Slate is designed for
            freelancers who want a simple way
          </p>
        </div>
        <div
          class="d-flex flex-row flex-lg-column justify-content-evenly"
          style="column-gap: 10px"
        >
          <div class="d-flex">
            <div class="price">19</div>
            <div class="d-flex flex-column justify-content-evenly price-info">
              <p>$</p>
              <small>Per Month</small>
            </div>
          </div>
          <button class="btn btn-primary">Try For Free</button>
        </div>
      </div>
    </div>
  </div>
</section>
