/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/css/all.min.css";

.go-back-icon {
  color: #03c9d7;
  font-size: 20px;
  cursor: pointer;
}
