  <!-- 5 -->
  <!-- <tr *ngFor="let u of userServ;index as i">
      <th scope="row"> {{i+4}} </th>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.password}}</td>
      <td>+20{{u.mobile}}</td>
      <td>{{u.contry}}</td> -->
      <!-- <td><button (click)="delet(i)" style="color: red; border: none; background-color: transparent;"><mat-icon
            matSuffix>delete</mat-icon></button></td> -->
    <!-- </tr> -->

<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="container mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Mobile</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Yuossef</td>
        <td>Mark.gmail.com</td>
        <td>osama12345</td>
        <td>1012345678</td>
        <td>Egypt</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.country }}</td>
      </tr>
    </tbody>
  </table>
<!-- button Add User -->
  <button  class="btn btn-info mb-3" (click)="openDialog()">Add User</button>
</div>


                        <!-- Button Add User  -->
<!-- <div class="BUTT">
  <button  type="button" class="btn btn-info text-light"
  (click)="openDialog()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
  fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
  </svg></button> -->

                        <!-- Button Padge Student Details  -->
   <button class="btn btn-success next" (click)="getComm()"> Student Details<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill ms-2" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg></button>

<!-- </div>  -->



