  <!-- 5 -->
  <!-- <tr *ngFor="let u of userServ;index as i">
      <th scope="row"> {{i+4}} </th>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.password}}</td>
      <td>+20{{u.mobile}}</td>
      <td>{{u.contry}}</td> -->
      <!-- <td><button (click)="delet(i)" style="color: red; border: none; background-color: transparent;"><mat-icon
            matSuffix>delete</mat-icon></button></td> -->
    <!-- </tr> -->

    <!-- <button title="Add User" class="btn btn-info mb-3" (click)="openDialog()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
    </svg></button> -->

<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="container">
<div class="row">
  <div class="col-sm-11">
    <!-- Serch Name Table (Filter) -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="serch" #input>
    </mat-form-field>
    </div>

    <!-- button Add User -->
    <div class="col p-0">
      <button title="Add Student" class="btn btn-info text-light border-0" (click)="openDialog()"
        matTooltip="Add Student" matTooltipPosition="right">
        <mat-icon class="mb-2 overflow-visible"> <i class="fa-solid fa-circle-plus"></i>
        </mat-icon></button>
  </div>
</div>
</div>

  <!-- table -->
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th>Id</th>
        <th>Display Name</th>
        <th>is Verified</th>
        <th>is Pro</th>
        <th>Active</th>
        <th>URL</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Test -->
        <td>1</td>
        <td>osama</td>
        <td>False</td>
        <td>true</td>
        <td>true</td>
        <td>Mark.gmail.com</td>
           <!-- Button Delete User  -->
        <td class="text-center"><button style="color: red; border: none; background-color: transparent;"
           matTooltip="delet Student" matTooltipPosition="below">
          <mat-icon matSuffix>delete</mat-icon></button>
        </td>

        <!-- Button Edit User  -->
        <td class="text-center"> <button class="border-0" style="color: #0a66c2;"
           matTooltip="edit Student" matTooltipPosition="below" (click)="openDialog()">
           <mat-icon style="font-size: 20px;"><i class="fa-solid fa-pen"></i></mat-icon></button></td>

          <!-- Button Padge Student Details  -->
        <td class="text-center"><button class="btn btn-success next bg-transparent p-0" (click)="getComm()"
           matTooltip="Student Details" matTooltipPosition="below"><mat-icon class="overflow-visible"
           style="color: #00c292;"><i class="fa-solid fa-circle-arrow-right"></i> </mat-icon></button>
        </td>
      </tr>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<tr *ngFor="let d of usersDB | async;index as i">
   <td>{{ i+1 }}</td>
  <td> {{d.displayName}} </td>
  <td> {{d.isPro}} </td>
  <td> {{d.active}} </td>
  <!-- Button Delete User  -->
  <td class="text-center"><button (click)="openDialogs('0ms', '0ms')" style="color: red; border: none; background-color: transparent;">
    <mat-icon matSuffix>delete</mat-icon></button>
  </td>

  <!-- Button Edit User  -->
  <td class="text-center"> <button class="border-0 bg-transparent" style="color: #0a66c2;"
          matTooltip="edit Student" matTooltipPosition="below">
          <mat-icon style="font-size: 20px;"><i class="fa-solid fa-pen"></i></mat-icon></button></td>

    <!-- Button Padge Student Details  -->
  <td class="text-center"> <button class="btn btn-success next bg-transparent" (click)="getComm()">
        <mat-icon class="overflow-visible" style="color: #00c292;">
        <i class="fa-solid fa-circle-arrow-right"></i> </mat-icon></button>
  </td>
</tr>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <!-- <tr class="text-center" *ngFor="let user of users;index as i">
        <td>{{ i+1 }}</td>
        <td>{{ user.displayName }}</td>
        <td>{{ user.isVerified }}</td>
        <td>{{ user.isPro }}</td>
        <td>{{ user.isActive }}</td>
        <td>{{ user.linkedIn }}</td>
        <td>{{ user.github }}</td> -->

        <!-- Button Delete User  -->
        <!-- <td class="text-center"><button style="color: red; border: none; background-color: transparent;">
          <mat-icon matSuffix>delete</mat-icon></button>
        </td> -->

        <!-- Button Edit User  -->
        <!-- <td class="text-center"> <button class="border-0 text-info"> <mat-icon style="font-size: 20px;"><i class="fa-solid fa-pen"></i> </mat-icon></button></td> -->

          <!-- Button Padge Student Details  -->
        <!-- <td class="text-center"> <button class="btn btn-success next bg-transparent" (click)="getComm()">
              <mat-icon class="overflow-visible" style="color: #00c292;">
              <i class="fa-solid fa-circle-arrow-right"></i> </mat-icon></button>
        </td>
      </tr> -->

      <!-- in case if not data in table -->
         <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    </tbody>
  </table>
</div>





