<mat-dialog-content>
  <form [formGroup]="slideTypeForm" (ngSubmit)="editSlide()">
    <mat-form-field>
      <mat-label for="slideType">Type</mat-label>
      <mat-select id="slideType" formControlName="slideType">
        <mat-option value="text">Text</mat-option>
        <mat-option value="text-image">Text & Image</mat-option>
        <mat-option value="mcq">MCQ</mat-option>
        <mat-option value="q-fill">Fill</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-dialog-actions align="center">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-danger" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
  <div [ngSwitch]="slideTypeForm.get('slideType')">
    <form [formGroup]="slideTextForm" *ngSwitchCase="'text'">
      <mat-form-field>
        <mat-label for="text">Text</mat-label>
        <input matInput type="text" id="text" formControlName="slideText" />
      </mat-form-field>
    </form>
    <form [formGroup]="slideImageForm" *ngSwitchCase="'text-image'">
      <mat-form-field>
        <mat-label for="text-image">Text</mat-label>
        <input
          type="text"
          matInput
          id="text-image"
          formControlName="slideImageText"
        />
      </mat-form-field>
      <div>
        <button type="button" mat-raised-button (click)="fileInput.click()">
          Choose File
        </button>
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          id="file"
        />
      </div>
      <div class="image-preview">
        <img src="{{ data.slide.image }}" />
      </div>
    </form>
    <form [formGroup]="slideMCQForm" *ngSwitchCase="'mcq'">
      <mat-form-field>
        <mat-label for="mcq-question">Question</mat-label>
        <input
          type="text"
          matInput
          id="mcq-question"
          formControlName="slideMCQQuestion"
          max="240"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="mcq-answer">Answer</mat-label>
        <input
          type="number"
          matInput
          id="mcq-answer"
          formControlName="slideMCQAnswer"
        />
      </mat-form-field>
      <div class="d-flex" style="gap: 10px">
        <mat-form-field>
          <mat-label for="mcq-first-option">Option 1</mat-label>
          <input
            type="text"
            id="mcq-first-option"
            matInput
            formControlName="slideOptionOne"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="mcq-second-option">Option 2</mat-label>
          <input
            type="text"
            matInput
            id="mcq-second-option"
            formControlName="slideOptionTwo"
          />
        </mat-form-field>
      </div>
      <div class="d-flex" style="gap: 10px">
        <mat-form-field>
          <mat-label for="mcq-third-option">Option 3</mat-label>
          <input
            type="text"
            id="mcq-third-option"
            matInput
            formControlName="slideOptionThree"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="mcq-fourth-option">Option 4</mat-label>
          <input
            type="text"
            matInput
            id="mcq-fourth-option"
            formControlName="slideOptionFour"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
