.btn-primary {
  background-color: #03c9d7;
  border: none;
  margin: 10px;
}

.btn-danger {
  background-color: #ee5752;
  border: none;
  margin: 10px;
}

.image-preview {
  width: 125px;
  height: 125px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
