button {
  padding: 8px 20px;
  margin: 10px;
  border: 1px solid #1f9eec;
}
.quit-button {
  background-color: white;
  color: #1f9eec;
}

.continue-button {
  background-color: #1f9eec;
  color: white;
}
