.accordion {
  margin: 20px 0px 15px 10px;

  .accordion-item {
    border: none;

    .accordion-header {
      border-radius: 20px !important;
      border: none;
      .accordion-button {
        background-color: #fbfdff;
        border: none !important;
        .button-info {
          h3 {
            color: #35434c;
          }
          i {
            color: #545f71;
          }
        }
      }
    }
    .accordion-collapse {
      .accordion-body {
        background-color: #fbfdff;
        p {
          margin-left: 14px;
          // color: #9ca2a6;
          font-weight: 300;
        }
      }
    }
  }
}
