* {
  box-sizing: border-box !important;
}

.s1 {
  position: relative;
}

.layer {
  width: 470px;
  height: 470px;
  border: solid 28px rgba(238, 241, 243, 0.8784313725);
  border-radius: 50%;
  background-color: rgba(73, 187, 222, 0.3607843137);
  position: relative;
}

.s1-photo1 {
  width: 700px;
  height: 495px;
  border-radius: 100%;
  position: relative;
  top: -84px;
  left: -140px;
}

.s1-photo2 {
  width: 210px;
  height: 130px;
  border-radius: 5px;
  position: absolute;
  top: -40px;
  left: -100px;
}

.s1-photo3 {
  width: 240px;
  height: 200px;
  border-radius: 5px;
  position: absolute;
  top: 270px;
  left: -100px;
}

.s1-photo4 {
  position: absolute;
  top: -68px;
  left: 125px;
}

.s1-div2 {
  background-image: url("../../../../../assets/images/s1-background.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: bold;
}

.section1_bg1 {
  width: 90%;
  border: solid 20px rgba(238, 241, 243, 0.8784313725);
  border-radius: 50%;
  position: relative;
}

.section1_photo1 {
  width: 100%;
  position: absolute;
  bottom: 35px;
  left: -23px;
  border-radius: 0% 0% 50% 50%;
}

.s1-div2-Res {
  position: relative;
}

.s1-div2-Res::after {
  content: url("../../../../../assets/images/s1-6-res.svg");
  bottom: -45px;
  right: 49px;
  position: absolute;
  z-index: 999;
}

.s1-d1-p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  padding-left: 10px;
}

.s1-div2-2 {
  position: relative;
}

.s1-div2-2::after {
  content: url("../../../../../assets/images/Frame 1171277012.svg");
  position: absolute;
  top: -20px;
  left: -10px;
}

.s1-div2 h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
}

.div2-1 p {
  font-size: 14px;
}

.true_icon1 {
  color: #31C249;
  line-height: 2px;
}

.s1-photo4-2 {
  position: absolute;
  top: -30px;
  left: -20px;
}

.s1-responsive {
  display: none;
}

.div2-1 {
  margin: 0px;
  margin-left: 50px;
  margin-top: 15px;
  padding: 0px;
  text-align: center !important;
}

.div2-1 div {
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.s1-d1-p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 3px;
  letter-spacing: -0.1000000015px;
  text-align: center;
  padding-left: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .s1 div {
    margin: auto;
  }
  .layer {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .s1 div {
    margin: auto;
  }
  .layer {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s1-normal {
    display: none;
  }
  .s1-responsive {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px !important;
    background-color: #f7f9fa;
  }
  .s1 {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
    margin-top: 0px !important;
  }
  .s1-div2-2 {
    display: none;
    background-color: #034F75;
  }
  .s1-div2-2-Res h1 {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    padding-bottom: 50px;
    padding: 0px 10px 20px 20px;
  }
  .s1-div2 {
    background-color: #f7f9fa;
    padding-bottom: 20px;
    background-image: none;
  }
  .div2-1 {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    background-color: #f7f9fa;
  }
  .div2-1 div {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .div2-1 div div {
    padding: 5px 0px;
  }
  .s1-d1-p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1000000015px;
    text-align: left;
    padding-left: 10px;
  }
  .true_icon1 {
    padding-top: 5px;
  }
  .s1-photo1 {
    width: 100%;
    border-radius: 100%;
    position: relative;
    top: -60px;
    left: 0px;
  }
  .s1-d1-res {
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s1-d1-res-img1 {
    border: solid 23px rgba(238, 241, 243, 0.8784313725);
    border-radius: 50%;
    width: 320px;
  }
  .s1-d1-res-img3 {
    position: absolute;
    top: -2px;
    left: 100px;
    border-radius: 0% 0% 50% 30%;
    width: 320px;
  }
  .s1-d1-res::after {
    content: url("../../../../../assets/images/s1-6-res.svg");
    position: absolute;
    bottom: -45px;
    right: 100px;
  }
  .s1-div2-Res::after {
    content: url("../../../../../assets/images/s1-6-res.svg");
    bottom: -45px;
    right: 90px;
    position: absolute;
    z-index: 999;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s1-normal {
    display: none;
  }
  .s1-responsive {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px !important;
    background-color: #f7f9fa;
  }
  .s1 {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
    margin-top: 0px !important;
  }
  .s1-div2-2 {
    display: none;
  }
  .s1-div2-2-Res h1 {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    padding-bottom: 50px;
    padding: 0px 10px 20px 20px;
  }
  .s1-div2 {
    background-color: #f7f9fa;
    padding-bottom: 20px;
    background-image: none;
  }
  .div2-1 {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    background-color: #f7f9fa;
  }
  .div2-1 div {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .div2-1 div div {
    padding: 5px 0px;
  }
  .s1-d1-p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1000000015px;
    text-align: left;
    padding-left: 10px;
  }
  .true_icon1 {
    padding-top: 5px;
  }
  .s1-photo1 {
    width: 100%;
    border-radius: 100%;
    position: relative;
    top: -60px;
    left: 0px;
  }
  .s1-d1-res {
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s1-d1-res-img1 {
    border: solid 23px rgba(238, 241, 243, 0.8784313725);
    border-radius: 50%;
    width: 320px;
  }
  .s1-d1-res-img3 {
    position: absolute;
    top: 0px;
    left: 20px;
    border-radius: 0% 0% 50% 30%;
    width: 320px;
  }
  .s1-d1-res::after {
    content: url("../../../../../assets/images/s1-6-res.svg");
    position: absolute;
    bottom: -45px;
    right: 25px;
  }
  .s1-div2-Res::after {
    content: url("../../../../../assets/images/s1-6-res.svg");
    bottom: -55px;
    right: 60px;
    position: absolute;
    z-index: 999;
  }
}
@media screen and (max-width: 374px) {
  .s1-normal {
    display: none;
  }
  .s1-responsive {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px !important;
    background-color: #f7f9fa;
  }
  .s1 {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
    margin-top: 0px !important;
  }
  .s1-div2-2 {
    display: none;
    background-color: #034F75;
  }
  .s1-div2-2-Res h1 {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    padding-bottom: 50px;
    padding: 0px 10px 20px 20px;
  }
  .s1-div2 {
    background-color: #f7f9fa;
    padding-bottom: 20px;
    background-image: none;
  }
  .div2-1 {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    background-color: #f7f9fa;
  }
  .div2-1 div {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .div2-1 div div {
    padding: 5px 0px;
  }
  .s1-d1-p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.1000000015px;
    text-align: left;
    padding-left: 10px;
  }
  .true_icon1 {
    padding-top: 5px;
  }
  .s1-photo1 {
    width: 100%;
    border-radius: 100%;
    position: relative;
    top: -60px;
    left: 0px;
  }
  .s1-d1-res {
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s1-d1-res-img1 {
    border: solid 23px rgba(238, 241, 243, 0.8784313725);
    border-radius: 50%;
    width: 320px;
  }
  .s1-d1-res-img3 {
    position: absolute;
    top: 0px;
    left: 20px;
    border-radius: 0% 0% 50% 30%;
    width: 320px;
  }
  .s1-div2-Res::after {
    content: url("../../../../../assets/images/s1-6-res.svg");
    bottom: -55px;
    right: 30px;
    position: absolute;
    z-index: 999;
  }
}
.first_p {
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #0C1C27;
}

.s2-n1 span {
  position: relative;
}

.s2-n1 span::after {
  content: url("../../../../../assets/images/Vector s2.svg");
  position: absolute;
  left: 0px;
  top: 7px;
}

.second_p {
  font-family: Satoshi;
  font-size: 15.75px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #35434C;
}

.s2_btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.section_h5 {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #35434C;
}

.small_img {
  width: 158.08px;
  height: 9.5px;
  gap: 0px;
  border: 2.25px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
  top: 75px;
  left: 65px;
}

.s2-img {
  width: 7px;
  height: 7px;
}

.s2-n2 p {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.s2-n2 h5 {
  font-family: Segoe UI;
  font-size: 39.69px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .section_2 {
    text-align: center;
  }
  .first_p,
  .second_p {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_2 {
    text-align: center;
  }
  .first_p,
  .second_p {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .section_2,
  .first_p,
  .second_p {
    text-align: center;
  }
  .section_2 {
    text-align: center;
    margin-top: 10px !important;
  }
  .s2-div1,
  .s2-n2 {
    text-align: center;
    padding-top: 10px;
  }
  .s2-n2 img {
    padding-bottom: 20px !important;
    width: 61px;
    height: 61px;
    top: 1154px;
    left: 192.58px;
    padding: 6.45px 3.75px 6.45px 3.75px;
    gap: 0px;
    opacity: 0px;
  }
  .s2-n1 span::after {
    display: none;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_2,
  .first_p,
  .second_p {
    text-align: center;
  }
  .section_2 {
    margin: 0px !important;
    padding-top: 0px !important;
  }
  .s2-div1,
  .s2-n2 {
    text-align: center;
    padding-top: 10px;
  }
  .s2-n2 img {
    padding-bottom: 20px !important;
    width: 61px;
    height: 61px;
    top: 1154px;
    left: 192.58px;
    padding: 6.45px 3.75px 6.45px 3.75px;
    gap: 0px;
    opacity: 0px;
  }
  .s2-n1 span::after {
    display: none;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_2 {
    padding-top: 0px !important;
    padding-bottom: 70px !important;
  }
}
@media screen and (max-width: 374px) {
  .section_2 {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
  }
}
.section3_1_p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #727B82;
}

.section3_1 {
  margin-top: 30px;
}

.section3_1_h4 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
  color: #2EA2EB;
}

.section3_1 h4 span {
  position: relative;
}

.section3_1 h4 span::after {
  content: url("../../../../../assets/images/Vector s3-1.svg");
  position: absolute;
  top: 30px;
  left: -7px;
}

.section3_1_img {
  width: 90%;
  border-radius: 16px 0px 0px 0px;
  position: relative;
}

.photo1 {
  position: relative;
  text-align: left;
}

.section3_1_img_side1 {
  position: absolute;
  top: 30px;
}

.section3_1_img_side2 {
  position: absolute;
  bottom: -49px;
  left: 50px;
}

.photo2 {
  position: relative;
}

.section3_2_img_side1 {
  position: absolute;
  top: 30px;
  size: 20px;
}

.section3_2_img_side2 {
  position: absolute;
  bottom: -50px;
  left: 50px;
  size: 20px;
}

.section3_2 {
  position: relative;
  margin-top: 20px !important;
}

.section3_2_p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #727B82;
  margin-top: 20px;
}

.section3_2_p-2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
}

.section3_2_h4 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
  color: #2EA2EB;
}

.section3_2_h4 span {
  position: relative;
}

.section3_2_h4 span::after {
  content: url("../../../../../assets/images/Vector s3-2.svg");
  position: absolute;
  top: 20px;
  left: 0px;
}

.s3-h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}

.section3_1_p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #727B82;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .section3_1_img_side2 {
    position: absolute;
    bottom: -12px;
    left: 50px;
  }
  .section3_2_img_side2 {
    position: absolute;
    bottom: 43px;
    left: 50px;
    size: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 992px) {
  .section3_1_img_side2 {
    position: absolute;
    bottom: -12px;
    left: 50px;
  }
  .section3_2_img_side2 {
    position: absolute;
    bottom: 43px;
    left: 50px;
    size: 20px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .section3_1_img_side2 {
    position: absolute;
    bottom: -47px;
    left: 100px;
  }
  .section3_2_img_side2 {
    position: absolute;
    bottom: -47px;
    left: 100px;
    size: 20px;
  }
  .photo1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .photo2 {
    margin-bottom: 40px;
  }
  .s3 div {
    text-align: center !important;
    padding: 0 20px;
  }
  .section3_1 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s3 {
    text-align: center !important;
    padding: 0 20px !important;
  }
  .section3_2 {
    margin: 0px !important;
  }
  .section3_1_h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 50px;
  }
  .section3_1 h4 span::after {
    content: url("../../../../../assets/images/s3-11.svg");
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .section3_1_p {
    text-align: center;
    margin-bottom: 10px;
  }
  .s3-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .photo1 {
    text-align: center;
    z-index: 1;
  }
  .section3_1_img_side1 {
    display: none;
  }
  .section3_1_img_side2 {
    position: absolute;
    bottom: -35px;
    left: 50px;
    z-index: -5;
  }
  .photo2 {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .section3_2_img_side1 {
    position: absolute;
    right: -3px;
    size: 10px;
    z-index: -5;
    overflow: hidden;
  }
  .section3_2_img_side2 {
    display: none;
  }
  .section3_2_h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    color: #2EA2EB;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .section3_2_h4 span {
    position: relative;
  }
  .section3_2_h4 span::after {
    content: url("../../../../../assets/images/s3-22.svg");
    position: absolute;
    top: 30px;
    left: 0px;
  }
  .section3_2_p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1000000015px;
    text-align: center;
  }
  .s3-h4 {
    text-align: center;
  }
  .section3_2_p-2 {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3000000119px;
    text-align: left;
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s3 {
    margin: 0px !important;
    padding: 0 20px !important;
  }
  .section3_2 {
    margin: 0px !important;
  }
  .section3_1_h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 50px;
  }
  .section3_1 h4 span::after {
    content: url("../../../../../assets/images/s3-11.svg");
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .section3_1_p {
    text-align: center;
    margin-bottom: 10px;
  }
  .s3-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .photo1 {
    text-align: center;
    z-index: 1;
  }
  .section3_1_img_side1 {
    display: none;
  }
  .section3_1_img_side2 {
    position: absolute;
    bottom: -35px;
    left: 50px;
    z-index: -5;
  }
  .photo2 {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .section3_2_img_side1 {
    position: absolute;
    right: -3px;
    size: 10px;
    z-index: -5;
    overflow: hidden;
  }
  .section3_2_img_side2 {
    display: none;
  }
  .section3_2_h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    color: #2EA2EB;
    padding-top: 20px;
  }
  .section3_2_h4 span {
    position: relative;
  }
  .section3_2_h4 span::after {
    content: url("../../../../../assets/images/s3-22.svg");
    position: absolute;
    top: 30px;
    left: 0px;
  }
  .section3_2_p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1000000015px;
    text-align: center;
  }
  .s3-h4 {
    text-align: center;
  }
  .section3_2_p-2 {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3000000119px;
    text-align: left;
    margin-top: 15px;
  }
}
@media screen and (max-width: 374px) {
  .photo1 {
    text-align: center;
    z-index: 1;
  }
  .section3_1_img_side1 {
    display: none;
  }
  .section3_1_img_side2 {
    position: absolute;
    bottom: -30px;
    left: 50px;
    z-index: -5;
  }
  .photo2 {
    position: relative;
    text-align: center;
    margin-top: 0px;
  }
  .section3_2_img_side1 {
    position: absolute;
    right: 3px;
    size: 10px;
    z-index: -5;
    overflow: hidden;
  }
  .section3_2_img_side2 {
    display: none;
  }
  .photo1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .photo2 {
    margin-bottom: 40px;
  }
}
.s4-spn {
  background-color: #d1d4d7;
}

.s4-n h2 span {
  position: relative;
}

.s4-n span::after {
  content: url("../../../../../assets/images/Vector s4.svg");
  position: absolute;
  top: 35px;
  left: 0px;
}

.s4_lamp_img {
  margin-top: 23px;
}

.s4-h2 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
}

.s4-responsive {
  display: none;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .s4-d {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_4 {
    text-align: center;
  }
  .s4-d {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s4-h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
  }
  .s4-n span::after {
    content: url("../../../../../assets/images/s4-4.svg");
    position: absolute;
    top: 15px;
    left: 0px;
  }
  .s4-n1 div {
    margin-bottom: 20px;
  }
  .s4-n p {
    margin-bottom: 30px;
  }
  .s4-normal {
    display: none;
  }
  .s4-responsive {
    display: block;
    text-align: center !important;
  }
  .s4-res {
    text-align: center;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_4 {
    padding: 0 20px !important;
    margin: 0 0px !important;
  }
  .s4-h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
  }
  .s4-n span::after {
    content: url("../../../../../assets/images/s4-4.svg");
    position: absolute;
    top: 15px;
    left: 0px;
  }
  .s4-n1 div {
    margin-bottom: 20px;
  }
  .s4-n p {
    margin-bottom: 30px;
  }
  .s4-normal {
    display: none;
  }
  .s4-responsive {
    display: block;
  }
}
@media screen and (max-width: 374px) {
  .s4-d {
    margin-top: 20px;
  }
}
.s5 {
  text-align: center;
}

.s5_photo {
  width: 180px;
  margin: 15px;
}

.s5_img {
  width: 100%;
}

.s5-d-p1 {
  background-color: #E43535;
  border-radius: 10px;
  padding: 23px 1px;
}

.s5-d-p2 {
  background-color: #EF9D0E;
  border-radius: 10px;
  padding: 23px 1px;
}

.s5-d-p3 {
  background-color: #52B2EE;
  border-radius: 10px;
  padding: 23px 1px;
}

.s5-d-p4 {
  background-color: #6FD480;
  border-radius: 10px;
  padding: 23px 1px;
}

.p1 {
  font-family: Satoshi;
  font-size: 42.2px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

.p2 {
  font-family: Satoshi;
  font-size: 28.13px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  color: #FFFFFF;
}

.p3 {
  font-family: Satoshi;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.s5-h5 {
  color: #52B2EE !important;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .p1 {
    font-size: 32.2px;
    line-height: 23px;
  }
  .p2 {
    font-size: 18.13px;
    line-height: 9px;
  }
  .p3 {
    font-size: 17px;
    line-height: 9px;
  }
  .section_5 {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_5 {
    align-items: center !important;
    justify-content: center !important;
  }
  .p1 {
    font-size: 32.2px;
    line-height: 32px;
  }
  .p2 {
    font-size: 20.13px;
    line-height: 9px;
  }
  .p3 {
    font-size: 20px;
    line-height: 9px;
  }
  .s5-d {
    padding: 27px 1px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .section_5 {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse;
    background-color: #f1f1f1;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .s5-h5 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: center;
    color: #52B2EE !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s5_img {
    margin-bottom: 50px;
    justify-content: center;
  }
  .s5-d2 {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
  }
  .s5-d2-1 img {
    font-family: Segoe UI;
    font-size: 68.72px;
    font-weight: 700;
    line-height: 103.08px;
    text-align: center;
  }
  .s5d2-2 h3 {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
  }
  .s5d2-2 p {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
    color: #727B82;
  }
  .p1 {
    font-family: Satoshi;
    font-size: 28.05px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  .p2 {
    font-family: Satoshi;
    font-size: 18.7px;
    font-weight: 400;
    line-height: 8px;
    text-align: center;
  }
  .p3 {
    font-family: Satoshi;
    font-size: 14.96px;
    font-weight: 400;
    line-height: 3px;
    text-align: center;
  }
  .s5-d-p1 {
    background-color: #E43535;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p2 {
    background-color: #EF9D0E;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p3 {
    background-color: #52B2EE;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p4 {
    background-color: #6FD480;
    border-radius: 10px;
    padding: 22px 1px;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_5 {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse;
    background-color: #f1f1f1;
  }
  .s5-h5 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: center;
    color: #52B2EE !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s5_img {
    margin-bottom: 50px;
  }
  .s5-d2 {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
  }
  .s5-d2-1 img {
    font-family: Segoe UI;
    font-size: 68.72px;
    font-weight: 700;
    line-height: 103.08px;
    text-align: center;
  }
  .s5d2-2 h3 {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
  }
  .s5d2-2 p {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
    color: #727B82;
  }
  .p1 {
    font-family: Satoshi;
    font-size: 28.05px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  .p2 {
    font-family: Satoshi;
    font-size: 18.7px;
    font-weight: 400;
    line-height: 8px;
    text-align: center;
  }
  .p3 {
    font-family: Satoshi;
    font-size: 14.96px;
    font-weight: 400;
    line-height: 3px;
    text-align: center;
  }
  .s5-d-p1 {
    background-color: #E43535;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p2 {
    background-color: #EF9D0E;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p3 {
    background-color: #52B2EE;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p4 {
    background-color: #6FD480;
    border-radius: 10px;
    padding: 22px 1px;
  }
}
@media screen and (max-width: 374px) {
  .section_5 {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse;
    background-color: #f1f1f1;
  }
  .s5-h5 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: center;
    color: #52B2EE !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .s5_img {
    margin-bottom: 50px;
  }
  .s5-d2 {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
  }
  .s5-d2-1 img {
    font-family: Segoe UI;
    font-size: 68.72px;
    font-weight: 700;
    line-height: 103.08px;
    text-align: center;
  }
  .s5d2-2 h3 {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
  }
  .s5d2-2 p {
    font-family: Montserrat;
    font-size: 12.21px;
    font-weight: 600;
    line-height: 17.1px;
    letter-spacing: -0.4885493815px;
    text-align: center;
    color: #727B82;
  }
  .p1 {
    font-family: Satoshi;
    font-size: 28.05px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  .p2 {
    font-family: Satoshi;
    font-size: 14.7px;
    font-weight: 400;
    line-height: 8px;
    text-align: center;
  }
  .p3 {
    font-family: Satoshi;
    font-size: 12.96px;
    font-weight: 400;
    line-height: 3px;
    text-align: center;
  }
  .s5-d-p1 {
    background-color: #E43535;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p2 {
    background-color: #EF9D0E;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p3 {
    background-color: #52B2EE;
    border-radius: 10px;
    padding: 22px 1px;
  }
  .s5-d-p4 {
    background-color: #6FD480;
    border-radius: 10px;
    padding: 22px 1px;
  }
}
.s6-responsive {
  display: none;
}

.s6-h2 {
  font-family: Satoshi;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.01em;
  text-align: left;
}

.s6-h2 span {
  position: relative;
}

.s6-h2 span::after {
  content: url("../../../../../assets/images/Vector s6.svg");
  position: absolute;
  top: 25px;
  left: -7px;
}

.s6_small_img {
  width: 180px;
  height: 13px;
  top: -11px;
  left: 160px;
  position: relative;
}

.s6_img {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
  opacity: 0px;
}

.s6_data {
  font-size: 10px;
  width: 100%;
  margin-left: 10px;
}

.s6_data_h6 {
  font-size: 10px;
  margin-bottom: 3px;
  font-weight: bold;
}

.s6_data_h6_3 {
  font-size: 8px;
  margin-bottom: 5px;
}

.s6_data_p {
  margin-bottom: 7px;
  margin-top: 1px;
}

.carousel-control-prev-icon {
  background-color: white;
}

.carousel-control-next-icon {
  background-color: white;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .s6-normal div {
    margin-top: 10px;
  }
  .section_6 div {
    justify-content: center !important;
  }
  .s6_data_h6 {
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
  }
  .s6_data_h6_3 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .s6_data_p {
    margin-bottom: 7px;
    margin-top: 1px;
    font-size: 12.5px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_6 div {
    justify-content: center !important;
    margin: 0px;
  }
  .s6-normal div {
    margin-top: 10px;
  }
  .s6_data {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .section_6 h2 {
    text-align: center !important;
  }
  .s6_data_h6 {
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
  }
  .s6_data_h6_3 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .s6_data_p {
    margin-bottom: 7px;
    margin-top: 1px;
    font-size: 12.5px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .section_6 {
    margin-top: 50px !important;
    padding-top: 30px !important;
    margin-bottom: 20px !important;
    padding-bottom: 0px !important;
  }
  .s6_data {
    font-size: 10px;
    width: 100%;
    margin-left: 0px;
    padding: 0px 10px;
  }
  .s6-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
  }
  .s6-h2 span::after {
    content: url("../../../../../assets/images/s66.svg");
    position: absolute;
    top: 20px;
    left: -21px;
  }
  .s6-n div {
    margin-bottom: 10px;
  }
  .s6-normal {
    display: none;
  }
  .s6-responsive {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
  .s6-2_img {
    width: 100%;
    border-radius: 40px 40px 40px 40px;
  }
  .s6_data_p {
    margin-bottom: 7px;
    margin-top: 1px;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_6 {
    margin-top: 0px !important;
    padding-top: 30px !important;
    margin-bottom: 20px !important;
    padding-bottom: 0px !important;
  }
  .s6_data {
    font-size: 10px;
    width: 100%;
    margin-left: 0px;
    padding: 0px 10px;
  }
  .s6-h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
  }
  .s6-h2 span::after {
    content: url("../../../../../assets/images/s66.svg");
    position: absolute;
    top: 20px;
    left: -21px;
  }
  .s6-n div {
    margin-bottom: 10px;
  }
  .s6-normal {
    display: none;
  }
  .s6-responsive {
    display: block;
  }
  .s6-div-res {
    width: 400px;
    height: 300px;
  }
  .s6-2_img {
    width: 100%;
    border-radius: 40px 40px 40px 40px;
  }
}
.line-1 {
  height: 15.5px;
  text-align: right !important;
  position: relative;
}

.line-11 {
  width: 95% !important;
}

.line-1::after {
  content: url("../../../../../assets/images/Line 273.svg");
  position: absolute;
  top: -2px;
  left: 60px;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .line-11 {
    width: 90% !important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .line-1 {
    text-align: center !important;
  }
  .line-11 {
    width: 80% !important;
  }
  .line-1::after {
    content: url("../../../../../assets/images/Line 273.svg");
    position: absolute;
    top: -2px;
    left: 75px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .line {
    display: none;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .line {
    display: none;
  }
}
.line-responsive {
  display: none;
  position: relative;
  text-align: center;
}

.line-responsive::after {
  content: url("../../../../../assets/images/Line-Responsive-2.svg");
  position: absolute;
  top: -2px;
  left: 25px;
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .line-responsive {
    display: block;
    left: 80px;
  }
  .line-responsive::after {
    content: url("../../../../../assets/images/Line-Responsive-2.svg");
    position: absolute;
    top: -2px;
    left: 30px;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .line-responsive {
    display: block;
    text-align: right;
  }
  .line-responsive-1 {
    width: 360px !important;
  }
  .line-responsive::after {
    content: url("../../../../../assets/images/Line-Responsive-2.svg");
    position: absolute;
    top: -2px;
    left: 15px;
  }
}
.s7_img {
  width: 100%;
}

.s7 {
  padding: 0px !important;
  margin: 0px !important;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .s7_img {
    width: 1200px;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .s7_img {
    width: 900px;
    align-items: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s7_img {
    width: 600px;
    align-items: center;
  }
  .section_7 {
    display: none;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s7_img {
    width: 600px;
    align-items: center;
  }
  .section_7 {
    display: none;
  }
}
.s8-div1 h5 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -1px;
  text-align: left;
  color: #52B2EE;
}

.s8-div2 {
  margin-top: 17px;
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .section_8 {
    text-align: center;
    background-color: #f8f9fa !important;
    padding-bottom: 20px !important;
  }
  .s8-div1 {
    padding-bottom: 20px;
  }
  .s8-div1 h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6000000238px;
    text-align: center;
    color: #52B2EE;
  }
  .s8-div2 {
    background-color: white;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .section_8 {
    text-align: center;
    background-color: #f8f9fa !important;
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 20px !important;
  }
  .s8-div1 {
    padding-bottom: 20px;
  }
  .s8-div1 h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6000000238px;
    text-align: center;
    color: #52B2EE;
  }
  .s8-div2 {
    background-color: white;
  }
}
.s9_div1 h3 {
  font-family: Segoe UI;
  font-size: 48.11px;
  font-weight: 400;
  line-height: 57.74px;
  text-align: left;
  color: #002B56;
}

.s9_div1 h3 span {
  position: relative;
}

.s9_div1 h3 span::after {
  content: url("../../../../../assets/images/Vector s9.svg");
  position: absolute;
  top: 30px;
  left: 0px;
}

.small_img {
  position: absolute;
  width: 137px;
  top: 35px;
  left: 57px;
}

.s9 h6 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.s9 p {
  font-size: 15px;
  padding-left: 20px;
}

.s9 button {
  margin-right: 13px;
  font-size: 13px;
  background-color: #52B2EE;
}

.s9-photo {
  width: 100%;
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .s9-photo {
    margin-top: 70px;
  }
  .s9-btn button {
    padding: 4px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .s9-btn button {
    padding: 4px;
  }
  .s9-photo {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s9-btn {
    justify-content: center;
  }
  .s9-btn button {
    padding: 3px;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s9-btn {
    justify-content: center;
  }
  .s9-btn button {
    padding: 3px;
  }
}
@media screen and (max-width: 374px) {
  .s9-btn button {
    padding: 3px;
  }
}
.s10_div1 h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: center;
}

.s10_div1 {
  text-align: center;
  margin-bottom: 70px;
}

.s10-d2 {
  border: 1.2px solid #DEDEDE;
  border-radius: 6px;
  text-align: center;
}

.s10_div1 h2 span {
  position: relative;
}

.s10_div1 h2 span::after {
  content: url("../../../../../assets/images/Vector s10.svg");
  position: absolute;
  top: 35px;
  left: 15px;
}

.s10 h4 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -1px;
  margin-top: 5px;
}

.s10 h6.actv {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  color: #52B2EE;
}

.s10_accord_h2 {
  color: #52B2EE !important;
}

.accord {
  border: 1.2px solid #DEDEDE !important;
  border-radius: 6px;
  margin-top: 10px;
  padding: 13px;
}

.accord-active {
  border: 1.2px solid #52B2EE !important;
  border-radius: 6px;
  padding: 13px;
}

.accordion-button {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #35434C !important;
  background-color: white;
}

.accordion-button1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1000000015px;
  text-align: left;
  color: #52B2EE !important;
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .s10_div1 {
    display: none;
  }
  .s10-d2-h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: left;
  }
  .s10-d2-h6 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: left;
    color: #9BA2A6;
  }
  .section_10 {
    padding: 40px !important;
    background-color: #f8f9fa;
  }
  .s10-d2 {
    margin-bottom: 30px;
  }
  .s10-accord {
    padding: 0px;
  }
  .accord-2,
  .accord-3,
  .accord-4 {
    display: none;
  }
  .accord-11 {
    display: block !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s10_div1 {
    display: none;
  }
  .s10-d2-h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: left;
  }
  .s10-d2-h6 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.8000000119px;
    text-align: left;
    color: #9BA2A6;
  }
  .section_10 {
    padding: 40px !important;
    background-color: #f8f9fa;
  }
  .s10-d2 {
    margin-bottom: 30px;
  }
  .s10-accord {
    padding: 0px;
  }
  .accord-2,
  .accord-3,
  .accord-4 {
    display: none;
  }
  .accord-11 {
    display: block !important;
  }
}
.s11_div h3 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  text-align: left;
  color: #034F75;
  text-align: center;
}

.s11_div h3 span {
  position: relative;
  color: #034F75;
}

.s11_div h3 span::after {
  content: url("../../../../../assets/images/Vector s11.svg");
  position: absolute;
  top: 15px;
  left: 0px;
}

.s11_div h3 {
  color: #034F75;
}

.s11_firstP {
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.5px;
  color: #81A7BA;
  text-align: center;
}

.s11 span {
  color: #2071A5;
}

.s11_div1_btn {
  width: 300px;
  align-items: center;
}

.s11_div_btn {
  width: 160px;
  height: 40px;
  padding: 5px 0px;
}

.s11_btn1 {
  color: white;
  background-color: #31C249;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.s11_btn2 {
  border: none;
  background-color: transparent;
  color: #627065;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.s11_div_p {
  font-family: Satoshi;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  text-align: right;
  color: #DF0C0C;
  position: relative;
}

.s11_div_p::after {
  content: url("../../../../../assets/images/Vector 6.svg");
  left: -50px;
  top: 20px;
  position: absolute;
}

.s11_btn3 {
  border-radius: 10px;
  border: solid 1px #2071A5;
  color: #2071A5;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}

.s11_content_h4 {
  color: #2071A5;
  margin: 15px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
  text-align: left;
}

.s11_content_h4 span {
  color: #2071A5;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}

.s11_content_h4-4 {
  color: white;
  margin: 15px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
  text-align: left;
}

.s11-div2-span {
  color: white !important;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}

.s11_content_div {
  border: solid 1px #2071A5;
  border-radius: 10px;
}

.s11_content_div_p1 {
  color: #81A7BA;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.s11_btn4 {
  color: #2071A5;
  background-color: #A9D9F7;
  padding: 10px 30px;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.true_icon {
  color: #07B524;
  line-height: 10px;
}

.false_icon {
  color: #81A7BA;
}

.s11_content_div_div {
  height: 20px;
  margin-bottom: 5px;
  align-items: left;
}

.s11_p2 {
  text-decoration-line: line-through;
}

.s11-div2 {
  background-color: #2071A5;
}

.s11_btn3-3 {
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 15px;
}

.s11_content_div_p1-1 {
  color: white;
  padding-top: 15px;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: #D3E7F0;
}

.s11_p1 {
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #2071A5;
}

.s11_p1-1 {
  color: white;
  font-family: Urbanist;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.s11_p2-2 {
  text-decoration-line: line-through;
}

.s11_btn4-4 {
  background-color: white;
  color: #2071A5;
  padding: 10px 30px;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 15px;
}

.s11_content {
  align-items: flex-end;
}

.s11-responsive {
  display: none !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .s11_content {
    justify-content: center !important;
    margin-top: 20px !important;
  }
  .s11_content div {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .s11_firstP {
    font-family: Satoshi;
    font-size: 18.74px;
    font-weight: 400;
    line-height: 25.3px;
  }
  .div-1 {
    padding: 0px 60px;
    margin-bottom: 30px;
  }
  .s11-normal {
    display: none !important;
  }
  .s11-responsive {
    display: block !important;
  }
  .s11_p2 {
    text-decoration-line: line-through;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .s11_p1 {
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    color: #2071A5;
  }
  .s11_p1-1 {
    color: white;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .s11_p2-2 {
    text-decoration-line: line-through;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .true_icon {
    color: #07B524;
    line-height: 0px;
  }
  .false_icon {
    color: #81A7BA;
    line-height: 0px;
    margin-top: 5px;
  }
  .s11_content_h4 {
    color: #2071A5;
    margin: 15px;
    font-family: Inter;
    font-size: 28.93px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
  }
  .s11_content_h4-4 {
    color: white;
    margin: 15px;
    font-family: Inter;
    font-size: 28.93px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
  }
}
@media screen and (max-width: 480px) and (min-width: 375px) {
  .s11_firstP {
    font-family: Satoshi;
    font-size: 18.74px;
    font-weight: 400;
    line-height: 25.3px;
  }
  .div-1 {
    padding: 0px 60px;
    margin-bottom: 30px;
  }
  .s11-normal {
    display: none !important;
  }
  .s11-responsive {
    display: block !important;
  }
  .s11_p2 {
    text-decoration-line: line-through;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .s11_p1 {
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    color: #2071A5;
  }
  .s11_p1-1 {
    color: white;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .s11_p2-2 {
    text-decoration-line: line-through;
    font-family: Urbanist;
    font-size: 12.05px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
  }
  .true_icon {
    color: #07B524;
    line-height: 0px;
  }
  .false_icon {
    color: #81A7BA;
    line-height: 0px;
    margin-top: 5px;
  }
  .s11_content_h4 {
    color: #2071A5;
    margin: 15px;
    font-family: Inter;
    font-size: 28.93px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
  }
  .s11_content_h4-4 {
    color: white;
    margin: 15px;
    font-family: Inter;
    font-size: 28.93px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
  }
}/*# sourceMappingURL=main-page.component.css.map */