<!--------------------------------- Section 1 ------------------------------------>

<section class="section_1 my-5 py-1 container s1">

  <!-- Global content -->

  <div class="row">

      <!-- Global content that it will change in part of content in responsive -->

      <div class="col-xl-4 col-lg-8 text-center offset-xl-2 s1 s1-normal">
          <div class="layer">
              <img class="s1-photo1" src="../../../../../assets/images/Intersect.svg" alt="">
              <img class="s1-photo2" src="../../../../../assets/images/Frame 1171276693.svg" alt="">
              <img class="s1-photo3" src="../../../../../assets/images/Frame 19.svg" alt="">
              <img class="s1-photo4" src="../../../../../assets/images/Frame 1171277012.svg" alt="">
          </div>
      </div>

      <!-- Content on responsive -->
      <!-- Responsive part from (max-width: 767px) to (min-width: 375px)-->

      <div class="col-xl-4 text-center offset-md-2 s1 s1-responsive">
          <div class="s1-div1-Res">
              <h1>Always Always Strive to Learn and Raise Your Wisdom </h1>
          </div>
          <div class="s1-div2-Res">
              <img class="section1_bg1" src="../../../../../assets/images/section1_bg1.svg" alt="">
          </div>
          <img class="section1_photo1" src="../../../../../assets/images/section1_photo1.svg" alt="">
      </div>

      <!-- The Fine of responsive part -->

      <!-- Other global content -->

      <div class="s1-div2 col-lg-6">
          <div class="s1-div2-2">
              <h1>Always Always Strive to Learn and Raise Your Wisdom </h1>
          </div>
          <div class="div2-1 d-flex justify-content-center mt-5">
              <div>
                  <div class="d-flex text-center">
                      <i class="fa-solid fa-check true_icon1 fs-4"></i>
                      <p class="ms-2 s1-d1-p">Gain a certificate of program completion</p>
                  </div>
                  <div class="d-flex text-center">
                      <i class="fa-solid fa-check true_icon1 fs-4"></i>
                      <p class="ms-2 s1-d1-p">100% remote, online learning</p>
                  </div>
                  <div class="d-flex text-center">
                      <i class="fa-solid fa-check true_icon1 fs-4"></i>
                      <p class="ms-2 s1-d1-p">Hands-on, project-based training</p>
                  </div>
                  <div class="d-flex text-center">
                      <i class="fa-solid fa-check true_icon1 fs-4"></i>
                      <p class="ms-2 s1-d1-p">No pre-requisite skills required</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!--------------------------------- Section 2 ------------------------------------>

<section class="section_2 my-5 py-5 container text-center">
  <div class="row">
      <div class="col-xl-4 s2-div1">
          <p class="first_p position-relative s2-n1">Start Your Career in Tech as a Front-E<span>nd Developer</span>
          </p>
          <p class="second_p">58% of job openings in the digital economy require basic coding and programming
              skills.</p>
          <button class="btn btn-info w-75 s2_btn">Apply Now</button>
      </div>
      <div class="col-xl-4 text-center s2-n2 pt-5">
          <img class="pb-5" src="../../../../../assets/images/Group.svg" alt="">
          <h5>27.7 M</h5>
          <p>Software developers worldwide</p>
      </div>
      <div class="col-xl-4 text-center s2-n2 pt-5">
          <img class="pb-5" src="../../../../../assets/images/Group.svg" alt="">
          <h5>80%</h5>
          <p>Of Front-End Developers learn online</p>
      </div>
  </div>
</section>

<!--------------------------------- Section 3 ------------------------------------>

<section class=" s3 my-5 container">
  <div class="row text-center s3-div">
      <div class="col-lg-6 ">
          <div class="section3_1">
              <h4 class="section3_1_h4">The Career Officer Front-end web
                  development <span>Programme</span></h4>
          </div>
          <p class="section3_1_p text-muted mt-4">This fully online program provides all the skills you need to
              find an entry-level job in the field of Front-end web
              development , even if you don't have prior experience.</p>
          <p class="section3_1_p text-muted">As a front-end developer, you're like an architect for websites
              and apps, responsible for bringing ideas and designs to life
              by building and maintaining what users see and interact with
              on a webpage, including layout and interactive elements.</p>
      </div>
      <div class="col-lg-6 photo1 mb-3">
          <img class="section3_1_img" src="../../../../../assets/images/Rectangle 39962.svg" alt="">
          <img class="section3_1_img_side1" src="../../../../../assets/images/Ellipse 207.svg" alt="">
          <img class="section3_1_img_side2" src="../../../../../assets/images/Ellipse 209.svg" alt="">
      </div>
  </div>

  <div class="row my-5 d-flex justify-content-around s3-div2">
      <div class="col-lg-6 photo2">
          <img class="section3_1_img" src="../../../../../assets/images/Rectangle 39963.svg" alt="">
          <img class="section3_2_img_side1" src="../../../../../assets/images/Ellipse 210.svg" alt="">
          <img class="section3_2_img_side2" src="../../../../../assets/images/Ellipse 211.svg" alt="">
      </div>
      <div class="col-lg-6 section3_2 my-5">
          <div class="s3-2-div">
              <h4 class="section3_2_h4">Become a Front-End Web
                  <span>Developer</span>
              </h4>
          </div>
          <p class="section3_2_p text-muted">This fully-online programme provides you with the foundations to start
              designing and
              building websites in no time. You will tackle the foundations of coding and get to grips
              with the most used design tools, setting you up for a career as a Front-End Developer.</p>
          <h4 class="s3-h4">Prepare for jobs such as</h4>
          <div class="d-flex justify-content-evenly list-unstyled section3_2_p-2 text-muted">
              <div>
                  <li>Junior Front-End Developer</li>
                  <li>Web Designer</li>
                  <li>UI Developer</li>
                  <li>UX/UI Designer</li>
                  <li>Front-End Web Analyst</li>
              </div>
              <div>
                  <li>WordPress Developer</li>
                  <li>Email Developer</li>
                  <li>Freelance Web Developer</li>
              </div>
          </div>
      </div>
  </div>
</section>

<!--------------------------------- Section 4 ------------------------------------>

<section class="section_4 my-5 py-5 container">

  <!-- Global content -->

  <div class="col-xl-4 mb-2 position-relative s4-n">
      <h2 class="s4-h2">How You'll <span>Learn.</span></h2>
      <p class="text-muted mt-4">We produce work-ready graduates equipped with the skills top tech companies need..
      </p>
  </div>

  <!-- Global content that it will change in part of content in responsive -->

  <div class="row text-center s4-n1 s4-normal">
      <div class="col-xl-3 col-md-6 text-start bg-white s4-d">
          <div class="bg-light p-3 rounded-4">
              <img class="ms-3 mb-4 s4_lamp_img" src="../../../../../assets/images/icon.svg" alt="">
              <h3>work</h3>
              <p>Work through downloadable
                  content and online instructional
                  material at your own pace.</p>
              <button class="btn btn-outline-info bg-white text-info">Learn More</button>
          </div>
      </div>
      <div class="col-xl-3 col-md-6 text-start bg-white s4-d">
          <div class="bg-light p-3 rounded-4">
              <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276708 (1).svg" alt="">
              <h3>work</h3>
              <p>Work through downloadable
                  content and online instructional
                  material at your own pace.</p>
              <button class="btn btn-outline-info bg-white text-info">Learn More</button>
          </div>
      </div>
      <div class="col-xl-3 col-md-6 text-start bg-white s4-d">
          <div class="bg-light p-3 rounded-4">
              <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276707.svg" alt="">
              <h3>work</h3>
              <p>Work through downloadable
                  content and online instructional
                  material at your own pace.</p>
              <button class="btn btn-outline-info bg-white text-info">Learn More</button>
          </div>
      </div>
      <div class="col-xl-3 col-md-6 text-start bg-white s4-d">
          <div class="bg-light p-3 rounded-4">
              <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276704.svg" alt="">
              <h3>work</h3>
              <p>Work through downloadable
                  content and online instructional
                  material at your own pace.</p>
              <button class="btn btn-outline-info bg-white text-info">Learn More</button>
          </div>
      </div>
  </div>

  <!-- Content on responsive -->
  <!-- Responsive part from (max-width: 767px) to (min-width: 375px)-->

  <div class="row text-center s4-n1 s4-responsive">
      <div id="carouselExampleControls" class="carousel slide s4-res" data-bs-ride="carousel">
          <div class="carousel-inner">
              <!-- first_div -->
              <div class="carousel-item active px-5 s4-res">
                  <div class="col-xl-3 text-start bg-white">
                      <div class="bg-light p-3 rounded-4">
                          <img class="ms-3 mb-4 s4_lamp_img" src="../../../../../assets/images/icon.svg" alt="">
                          <h3>work</h3>
                          <p>Work through downloadable
                              content and online instructional
                              material at your own pace.</p>
                          <button class="btn btn-outline-info bg-white text-info">Learn More</button>
                      </div>
                  </div>
              </div>
              <!-- second_div -->
              <div class="carousel-item px-5 s4-res">
                  <div class="col-xl-3 text-start bg-white">
                      <div class="bg-light p-3 rounded-4">
                          <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276708 (1).svg" alt="">
                          <h3>work</h3>
                          <p>Work through downloadable
                              content and online instructional
                              material at your own pace.</p>
                          <button class="btn btn-outline-info bg-white text-info">Learn More</button>
                      </div>
                  </div>
              </div>
              <!-- third_div -->
              <div class="carousel-item px-5 s4-res">
                  <div class="col-xl-3 text-start bg-white">
                      <div class="bg-light p-3 rounded-4">
                          <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276707.svg" alt="">
                          <h3>work</h3>
                          <p>Work through downloadable
                              content and online instructional
                              material at your own pace.</p>
                          <button class="btn btn-outline-info bg-white text-info">Learn More</button>
                      </div>
                  </div>
              </div>
              <!-- div_four -->
              <div class="carousel-item px-5 s4-res">
                  <div class="col-xl-3 text-start bg-white">
                      <div class="bg-light p-3 rounded-4">
                          <img class="ms-3 mb-3" src="../../../../../assets/images/Frame 1171276704.svg" alt="">
                          <h3>work</h3>
                          <p>Work through downloadable
                              content and online instructional
                              material at your own pace.</p>
                          <button class="btn btn-outline-info bg-white text-info">Learn More</button>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon s4-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon s4-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>

  <!-- The Fine of responsive part -->

</section>

<!--------------------------------- Section 5 ------------------------------------>

<section class="section_5 row my-5 container">
  <div class="col-lg-6 col-sm-8 s5 pb-3">
      <div class="s5-div1 offset-sm-2">
          <div class="s5-d2 text-center">
              <div class="s5-d2-1">
                  <img src="../../../../../assets/images/6.svg" alt="">
              </div>
              <div class="s5-d2-2">
                  <h3>months</h3>
                  <p>20 hours per week</p>
              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="offset-sm-1 d-flex flex-wrap justify-content-center p-0">
              <div class="col-4 s5-d-p1 m-3 s5-d">
                  <p class="p1">15%</p>
                  <p class="p2">Live Learning</p>
                  <p class="p3">3 hours / week</p>
              </div>
              <div class="col-4 s5-d-p2 m-3 s5-d">
                  <p class="p1">10%</p>
                  <p class="p2">Peer Learning</p>
                  <p class="p3">2 hours / week</p>
              </div>
              <div class="col-4 s5-d-p3 m-3 s5-d">
                  <p class="p1">70%</p>
                  <p class="p2">Doing Projects</p>
                  <p class="p3">14 hours / week</p>
              </div>
              <div class="col-4 s5-d-p4 m-3 s5-d">
                  <p class="p1">5%</p>
                  <p class="p2">Taking Quizzes</p>
                  <p class="p3">1 hour / week</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-md-8  offset-xl-0 offset-md-1 mt-5 text-center s5-div2">
      <h5 class="s5-h5 text-muted text-center mt-4 mb-3">Course Duration and Learning Modalities</h5>
      <img class="s5_img mt-4" src="../../../../../assets/images/57ab595c11882ea334e129fba5a48a78.png" alt="">
  </div>
</section>

<!--------------------------------- Section 6 ------------------------------------>

<section class="section_6 my-5 py-5 container position-relative">

  <!-- Global content -->

  <h2 class="mb-5 s6-h2">What Our Le<span>arners Say.</span></h2>

  <!-- Global content that it will change in part of content in responsive -->

  <div class="row s6-n s6-normal">
      <div class="col-xl-4 col-lg-6 col-md-8 bg-white ">
          <div class="bg-light py-2 rounded-2 d-flex">
              <div>
                  <img class="s6_img" src="../../../../../assets/images/div.logo-slide-person-img.svg" alt="">
              </div>
              <div class="s6_data">
                  <h6 class="s6_data_h6">A life-changing experience!</h6>
                  <p class="text-muted s6_data_p">The most important thing I learned was that nothing is impossible
                      when you put your mind into it! What I like most about the program is that it does not only
                      teach you coding or languages but also, it teaches self-learning so you can tackle any obstacles
                      in the future.</p>
                  <h6 class="s6_data_h6">Abdelrahman Metawei</h6>
                  <h6 class="s6_data_h6_3">SE learner</h6>
                  <div class="d-flex c6_data_icons">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-8 bg-white">
          <div class="bg-light py-2 rounded-2 d-flex">
              <div>
                  <img class="s6_img" src="../../../../../assets/images/div.logo-slide-person-img (2).svg" alt="">
              </div>
              <div class="s6_data">
                  <h6 class="s6_data_h6">Unparalleled Experience!</h6>
                  <p class="text-muted s6_data_p">The program has proven to be very valuable
                      in enhancing both my personal and career
                      development, offering a unique blend of soft
                      skills for effective daily life management and
                      hard skills that have significantly contributed
                      to my professional growth.</p>
                  <h6 class="s6_data_h6">Seif Ragab</h6>
                  <h6 class="s6_data_h6_3">SE learner</h6>
                  <div class="d-flex  c6_data_icons">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-8 bg-white">
          <div class="bg-light py-2 rounded-2 d-flex">
              <div>
                  <img class="s6_img" src="../../../../../assets/images/div.logo-slide-person-img (3).svg" alt="">
              </div>
              <div class="s6_data">
                  <h6 class="s6_data_h6">Unparalleled Experience!</h6>
                  <p class="text-muted s6_data_p">The program has proven to be very valuable
                      in enhancing both my personal and career
                      development, offering a unique blend of soft
                      skills for effective daily life management and
                      hard skills that have significantly contributed
                      to my professional growth.</p>
                  <h6 class="s6_data_h6">Seif Ragab</h6>
                  <h6 class="s6_data_h6_3">SE learner</h6>
                  <div class="d-flex  c6_data_icons">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                      <img src="../../../../../assets/images/Symbol.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Content on responsive -->
  <!-- Responsive part from (max-width: 767px) to (min-width: 375px)-->

  <div class="row s6-n s6-responsive">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="col-xl-4 bg-white s6-div-responsive px-5">
                      <div class="bg-light py-2 rounded-2">
                          <div class="s6-div1-res">
                              <img class="s6-2_img" src="../../../../../assets/images/div.logo-slide-person-img.svg"
                                  alt="">
                          </div>
                          <div class="s6_data">
                              <h6 class="s6_data_h6">A life-changing experience!</h6>
                              <p class="text-muted s6_data_p">The most important thing I learned was that nothing is
                                  impossible
                                  when you put your mind into it! What I like most about the program is that it does
                                  not only
                                  teach you coding or languages but also, it teaches self-learning so you can tackle
                                  any obstacles
                                  in the future.</p>
                              <h6 class="s6_data_h6">Abdelrahman Metawei</h6>
                              <h6 class="s6_data_h6_3">SE learner</h6>
                              <div class="d-flex  c6_data_icons">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="col-xl-4 bg-white s6-div-responsive px-5">
                      <div class="bg-light py-2 rounded-2">
                          <div class="s6-div1-res">
                              <img class="s6-2_img"
                                  src="../../../../../assets/images/div.logo-slide-person-img (2).svg" alt="">
                          </div>
                          <div class="s6_data">
                              <h6 class="s6_data_h6">Unparalleled Experience!</h6>
                              <p class="text-muted s6_data_p">The program has proven to be very valuable
                                  in enhancing both my personal and career
                                  development, offering a unique blend of soft
                                  skills for effective daily life management and
                                  hard skills that have significantly contributed
                                  to my professional growth.</p>
                              <h6 class="s6_data_h6">Seif Ragab</h6>
                              <h6 class="s6_data_h6_3">SE learner</h6>
                              <div class="d-flex  c6_data_icons">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="col-xl-4 bg-white s6-div-responsive px-5">
                      <div class="bg-light py-2 rounded-2">
                          <div class="s6-div1-res">
                              <img class="s6-2_img"
                                  src="../../../../../assets/images/div.logo-slide-person-img (3).svg" alt="">
                          </div>
                          <div class="s6_data">
                              <h6 class="s6_data_h6">Unparalleled Experience!</h6>
                              <p class="text-muted s6_data_p">The program has proven to be very valuable
                                  in enhancing both my personal and career
                                  development, offering a unique blend of soft
                                  skills for effective daily life management and
                                  hard skills that have significantly contributed
                                  to my professional growth.</p>
                              <h6 class="s6_data_h6">Seif Ragab</h6>
                              <h6 class="s6_data_h6_3">SE learner</h6>
                              <div class="d-flex  c6_data_icons">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                                  <img src="../../../../../assets/images/Symbol.svg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon s4-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
              <span class="carousel-control-next-icon s4-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>

  <!-- The Fine of responsive part -->

</section>

<!----------------------------------- Line  -------------------------------------->

<!-- Global content -->

<div class="line">
  <div class="line-1">
      <img class="line-11" src="../../../../../assets/images/Line-1.svg" alt="">
  </div>
</div>

<!-- The Fine of global content -->

<!-- line-responsive -->

<!-- The content is changed fully in part of content in responsive -->

<!-- Responsive Part from (max-width: 767px) to (min-width: 375px)-->

<div class="line-responsive">
  <img class="line-responsive-1" src="../../../../../assets/images/Line-Responsive-1.svg" alt="">
</div>

<!-- The Fine of responsive part -->

<!--------------------------------- Section 7 ------------------------------------>

<section class="section_7 container-fluid s7 my-5 row">
  <img class="s7_img" src="../../../../../assets/images/Counter.svg" alt="">
</section>

<!--------------------------------- Section 8 ------------------------------------>

<section class="section_8 container bg-white py-5 ">
  <div class="row s8">
      <div class="col-md-4 s8-div1">
          <h5 class="">Through The ROOM, we have
              successfully placed our graduates in
              leading companies around the world,
              and you might be next! </h5>
      </div>
      <div class="col-md-7 offset-md-1 s8-div2">
          <img class="col-2" src="../../../../../assets/images/s8-1.svg" alt="">
          <img class="col-2" src="../../../../../assets/images/s8-2.svg" alt="">
          <img class="col-2" src="../../../../../assets/images/s8-3.svg" alt="">
          <img class="col-2" src="../../../../../assets/images/s8-4.svg" alt="">
          <img class="col-2" src="../../../../../assets/images/s8-5.svg" alt="">
          <img class="col-2" src="../../../../../assets/images/s8-6.svg" alt="">
      </div>
  </div>
</section>

<!--------------------------------- Section 9 ------------------------------------>

<section class="section_9 my-3 container s9">
  <div class="row">
      <div class="col-md-6 s9-div">
          <div class="s9_div1 position-relative mb-4">
              <h3>Our <span>Curriculum</span></h3>
          </div>
          <h6>You’ll learn about</h6>
          <p class="text-muted">Basic proficiency in HTML, CSS, and JavaScript</p>
          <p class="text-muted">Design thinking and how to use Figma and Adobe XD to build your websites</p>
          <p class="text-muted">To problem-solve based on real-world scenarios</p>
          <p class="text-muted">How to publish websites to GitHub pages</p>
          <p class="text-muted">How to build a basic, functional web application from the ground up</p>
          <h6 class="mb-3">Tools you'll learn</h6>
          <div class="d-flex s9-btn">
              <button class="btn text-white">HTML & CSS</button>
              <button class="btn text-white">JavaScript</button>
              <button class="btn text-white">SQL</button>
              <button class="btn text-white">Node.js</button>
              <button class="btn text-white">GitHub</button>
          </div>
      </div>
      <div class="col-md-6">
          <img class="s9-photo" src="../../../../../assets/images/3-2.png.svg" alt="">
      </div>
  </div>
</section>

<!--------------------------------- Section 10 ----------------------------------->

<section class="section_10 my-5 s10 container py-5">
  <div class="s10_div1">
      <h2>Frequently Asked <span>Questio</span>ns</h2>
  </div>
  <div class="row">
      <div class="col-md-3 s10-d2">
          <div class="py-1 text-start">
              <h4 class="py-3 s10-d2-h4">Table of Content</h4>
              <br>
              <h6 class="actv py-1 s10-d2-h6">General</h6>
              <hr>
              <h6 class="py-2 s10-d2-h6">Trust and safety</h6>
              <hr>
              <h6 class="py-2 s10-d2-h6">Services</h6>
              <hr>
              <h6 class="py-2 s10-d2-h6">Billing</h6>
              <hr>
              <h6 class="py-2 s10-d2-h6">Office and Cleaning</h6>
              <hr>
          </div>
      </div>
      <div class="col-md-9 s10-accord">
          <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item accord-active accord-1">
                  <h2 class="accordion-header s10_accord_h2" id="flush-headingOne">
                      <button class="accordion-button accordion-button1 collapsed" type="button"
                          data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                          aria-controls="flush-collapseOne">
                          How do i pay for the essentials or premium plan?
                      </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">You can pay with a credit car or via net banking (if you are in
                          Poland). We will renew your
                          subscription automatically at the end of every billing cycle.</div>
                  </div>
              </div>
              <div class="accordion-item accord accord-2">
                  <h2 class="accordion-header s10_accord_h2" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          We need to add new users to our team. How will that be billed?</button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"></div>
                  </div>
              </div>
              <div class="accordion-item accord accord-3">
                  <h2 class="accordion-header s10_accord_h2" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree" aria-expanded="false"
                          aria-controls="flush-collapseThree">
                          Do you offer discounts for non fropit organizations or educational institutions?
                      </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse"
                      aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"></div>
                  </div>
              </div>
              <div class="accordion-item accord accord-4">
                  <h2 class="accordion-header s10_accord_h2" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFour" aria-expanded="false"
                          aria-controls="flush-collapseFour">
                          Can i cancel my essentials or premium plan subscription at anytime?
                      </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"></div>
                  </div>
              </div>
              <div class="accordion-item accord accord-active accord-11 d-none">
                  <h2 class="accordion-header s10_accord_h2" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFive" aria-expanded="false"
                          aria-controls="flush-collapseFive">
                          How do i pay for the essentials or premium plan?
                      </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">You can pay with a credit car or via net banking (if you are in
                          Poland). We will renew your
                          subscription automatically at the end of every billing cycle.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!--------------------------------- Section 11 ----------------------------------->

<section class="section_11 my-5 container s11">

  <!-- Global content -->

  <div class="text-center s11_div mb-3">
      <h3>Choose Your <span>Plan</span></h3>
  </div>
  <div class="d-flex justify-content-center align-items-center s11_div1 m-3">
      <div class="d-flex s11_div1_btn">
          <div class="d-flex justify-content-evenly bg-white shadow-lg rounded-5 s11_div_btn">
              <button class="btn rounded-5 s11_btn1">Monthly</button>
              <button class="s11_btn2">Yearly</button>
          </div>
          <div>
              <p class="s11_div_p ms-3 mt-4">SAVE UP TO 30%</p>
          </div>
      </div>
  </div>
  <p class="s11_firstP mt-4 mb-5">Best Plans For <span>Office Management</span></p>

  <!-- Global content that it will change in part of content in responsive -->

  <div class="row s11_content s11-normal text-center d-flex">
      <!-- first_div -->
      <div class="div-1 col-lg-4 col-md-7 text-center">
          <div class="s11_content_div s11-div1 py-4 px-3 text-center d-flex justify-content-center">
              <div>
                  <button class="btn s11_btn3">Basic </button>
                  <h4 class="s11_content_h4">1030.00 <span>EGP</span></h4>
                  <p class="s11_content_div_p1">User/Month</p>

                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Attendance Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Leave System Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Employee Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Chat Support</p>
                  </div>

                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2">Expense Tracking </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2">Invoice Generate </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2"> Purchase Generate </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2">Payroll</p>
                  </div>
                  <div class="d-flex text-center mb-4 s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2">App Management</p>
                  </div>
                  <button class="btn s11_btn4">Choose Plan</button>
              </div>
          </div>
      </div>
      <!-- second_div -->
      <div class="div-1 col-lg-4 col-md-7">
          <div class="s11_content_div s11-div2 py-4 px-3 active_div d-flex justify-content-center">
              <div class="">
                  <button class="btn s11_btn3-3">Advance </button>
                  <h4 class="s11_content_h4-4">1030.00 <span class="s11-div2-span">EGP</span></h4>
                  <p class="s11_content_div_p1-1">User/Month</p>

                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">App Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Attendance Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Leave System Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Employee Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Expense Tracking </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Chat Support</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1-1">Invoice Generate </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2-2"> Purchase Generate </p>
                  </div>
                  <div class="d-flex text-center mb-4 s11_content_div_div">
                      <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p2-2">Payroll</p>
                  </div>
                  <button class="btn s11_btn4-4">Choose Plan</button>
              </div>
          </div>
      </div>
      <!-- third_div -->
      <div class="div-1 col-lg-4 col-md-7">
          <div class="s11_content_div s11-div3 py-4 px-3 d-flex justify-content-center">
              <div>
                  <button class="btn s11_btn3">Premium </button>
                  <h4 class="s11_content_h4">1030.00 <span>EGP</span></h4>
                  <p class="s11_content_div_p1">User/Month</p>

                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">App Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Attendance Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Leave System Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Employee Management</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Expense Tracking </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Chat Support</p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Invoice Generate </p>
                  </div>
                  <div class="d-flex text-center s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1"> Purchase Generate </p>
                  </div>
                  <div class="d-flex text-center mb-4 s11_content_div_div">
                      <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                      <p class="ms-3 false_icon s11_p1">Payroll</p>
                  </div>
                  <button class="btn s11_btn4">Choose Plan</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Content on responsive -->
  <!-- Responsive part from (max-width: 767px) to (min-width: 375px)-->

  <div class="row s11_content s11-responsive text-center d-flex">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
              <!-- first_div -->
              <div class="carousel-item active">
                  <div class="div-1 col-xl-4 text-center">
                      <div class="s11_content_div s11-div1 py-4 px-3 text-center d-flex justify-content-center">
                          <div>
                              <button class="btn s11_btn3">Basic </button>
                              <h4 class="s11_content_h4">1030.00 <span>EGP</span></h4>
                              <p class="s11_content_div_p1">User/Month</p>

                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Attendance Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Leave System Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Employee Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Chat Support</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2">Expense Tracking </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2">Invoice Generate </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2"> Purchase Generate </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2">Payroll</p>
                              </div>
                              <div class="d-flex text-center mb-4 s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2">App Management</p>
                              </div>
                              <button class="btn s11_btn4">Choose Plan</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- second_div -->
              <div class="carousel-item">
                  <div class="div-1 col-xl-4">
                      <div class="s11_content_div s11-div2 py-4 px-3 active_div d-flex justify-content-center">
                          <div class="">
                              <button class="btn s11_btn3-3">Advance </button>
                              <h4 class="s11_content_h4-4">1030.00 <span class="s11-div2-span">EGP</span></h4>
                              <p class="s11_content_div_p1-1">User/Month</p>

                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">App Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Attendance Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Leave System Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Employee Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Expense Tracking </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Chat Support</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1-1">Invoice Generate </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2-2"> Purchase Generate </p>
                              </div>
                              <div class="d-flex text-center mb-4 s11_content_div_div">
                                  <i class="fa-regular fa-circle-xmark false_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p2-2">Payroll</p>
                              </div>
                              <button class="btn s11_btn4-4">Choose Plan</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- third_div -->
              <div class="carousel-item">
                  <div class="div-1 col-xl-4">
                      <div class="s11_content_div s11-div3 py-4 px-3 d-flex justify-content-center">
                          <div>
                              <button class="btn s11_btn3">Premium </button>
                              <h4 class="s11_content_h4">1030.00 <span>EGP</span></h4>
                              <p class="s11_content_div_p1">User/Month</p>

                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">App Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Attendance Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Leave System Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Employee Management</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Expense Tracking </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Chat Support</p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Invoice Generate </p>
                              </div>
                              <div class="d-flex text-center s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1"> Purchase Generate </p>
                              </div>
                              <div class="d-flex text-center mb-4 s11_content_div_div">
                                  <i class="fa-regular fa-circle-check true_icon mt-1"></i>
                                  <p class="ms-3 false_icon s11_p1">Payroll</p>
                              </div>
                              <button class="btn s11_btn4">Choose Plan</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon s11-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon s11-spn" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>

  <!-- The Fine of responsive part -->

</section>