.exit-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-top: 10px;
  margin-right: 10px;
  i {
    font-size: 20px;
    color: grey;
  }
}
input {
  margin: 15px;
}
textarea {
  height: 100px;
  resize: none;
  margin: 0 15px;
}

.submit-button {
  border: none;
  color: white;
  background-color: #0096cb;
  padding: 8px 20px;
  margin: 0px;
  border-radius: 12px;
  &:disabled {
    opacity: 0.45;
  }
}
