<section class="container connected-accounts">
  <div class="row title">
    <div class="col">
      <h2>Connected Accounts</h2>
    </div>
  </div>

  <div
    class="d-flex flex-column"
    style="row-gap: 20px"
    *ngFor="let account of accountTemplates"
  >
    <div class="d-flex flex-column">
      <h5>{{ account.website }}</h5>
      <div class="d-flex connect-card">
        <img
          [src]="
            '../../../../../assets/images/' +
            account.website.toLowerCase() +
            '.svg'
          "
          alt=""
        />
        <p>{{ account.example }}</p>
        <button class="btn btn-primary" (click)="onConnect()">Connect</button>
      </div>
    </div>
  </div>
</section>
