.login {
  width: 100%;
  position: relative;
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .form-check-input {
        border: 1px solid black;
      }
    }
    p {
      margin-top: 10px;
    }
  }

  &-trailing {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
  }
}

.loading {
  opacity: 0.8;
}

.disable-link {
  cursor: not-allowed;
  pointer-events: none;
}
