.navbar{
    width: 100%;
    background-color: #FFFFFF!important;
    padding: 10px 0px;
    .collapse{
        justify-content: space-around;
        .headerLinks{

        }
        .headerRight{
            i,button,img{
                margin: 0px 10px;
            }
            .goProButton{
                background-color: #F2AE37;
                color: #FFFFFF;
                padding: 6px 10px;
                img{
                    margin-right: 0px;
                }
            }
        }
    }
}