<section
  class="container-fluid d-flex flex-column align-items-center lecture-body"
>
  <button
    type="button"
    (click)="onQuitLecture()"
    class="align-self-start exit-lecture"
  >
    <i class="fa-regular fa-circle-xmark"></i>
  </button>
  <section
    class="container d-flex justify-content-between align-items-baseline slide-nav-header"
  >
    <button
      class="d-flex flex-column justify-content-center align-items-center slide-nav"
      (click)="onToPreviousSlide()"
      [disabled]="disableToPreviousSlide"
    >
      <div class="icon">
        <i class="fa-solid fa-angle-left"></i>
      </div>
    </button>
    <div class="progress-wrapper flex-grow">
      <div
        class="slide-indicator"
        style="top: -5px"
        [ngStyle]="{ left: indicator }"
      >
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        [attr.aria-valuenow]="progressBar"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar"
          [ngStyle]="{ width: progressBar + '%' }"
        ></div>
      </div>
    </div>
    <button
      class="d-flex flex-column justify-content-center align-items-center slide-nav"
      (click)="onToNextSlide()"
      [disabled]="disableToNextSlide"
    >
      <div class="icon">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </button>
  </section>

  <div
    class="d-flex flex-column align-items-center slide"
    [ngSwitch]="activeSlide?.type"
  >
    <app-text-slide
      [slide]="activeSlide"
      [isLastSlide]="slides.indexOf(activeSlide) === slides.length - 1"
      (next)="onToNextSlide()"
      (finish)="finishLecture()"
      *ngSwitchCase="'text'"
    ></app-text-slide>
    <app-text-image-slide
      *ngSwitchCase="'text-image'"
      [slide]="activeSlide"
      [isLastSlide]="slides.indexOf(activeSlide) === slides.length - 1"
      (next)="onToNextSlide()"
      (finish)="finishLecture()"
    >
      {{ activeSlide.text }}
    </app-text-image-slide>
    <app-mcq-slide
      *ngSwitchCase="'mcq'"
      [slide]="activeSlide"
      [isLastSlide]="slides.indexOf(activeSlide) === slides.length - 1"
      (next)="onToNextSlide()"
      (finish)="finishLecture()"
    ></app-mcq-slide>
    <app-fill-slide
      *ngSwitchCase="'q-fill'"
      [slide]="activeSlide"
      [isLastSlide]="slides.indexOf(activeSlide) === slides.length - 1"
      (next)="onToNextSlide()"
      (finish)="finishLecture()"
    ></app-fill-slide>
  </div>
</section>
