.lecture-body {
  background-color: white;
  max-height: 100vh;
  padding: 25px 25px;
  align-content: center;
  .slide-nav-header {
    padding: 0px;
    .progress-wrapper {
      width: 80%;
      margin: 0px;
      padding: 0px;
      position: relative;
      .slide-indicator {
        position: absolute;
        transition: all 0.6s;
        i {
          color: #52b2ee;
          font-size: 20px;
        }
      }
      .progress {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        .progress-bar {
          background-color: #52b2ee;
        }
      }
    }
    .slide-nav {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      .icon {
        padding: 10px 17px;
        border-radius: 50%;
        &:hover {
          background-color: rgba(201, 198, 198, 0.158);
        }
        i {
          font-size: 25px;
        }
      }
    }
  }

  .slide {
    width: 70%;
    height: calc(100vh - 100px);
    // padding: 30px;
  }

  .lecture-controls {
    height: 100px;
    position: fixed;
    bottom: 0px;
    // margin-top: 15px;
    .btn-primary {
      background-color: #23a6f0;
      padding: 12px 25px;
      border: none;
    }
  }
}
