<section
  class="container-fluid d-flex flex-column align-items-center lecture-body"
>
  <section
    class="container d-flex justify-content-between align-items-baseline slide-nav-header"
  >
    <button
      class="d-flex flex-column justify-content-center align-items-center slide-nav"
      (click)="onToPreviousSlide()"
      [disabled]="disableToPreviousSlide"
    >
      <div class="icon">
        <i class="fa-solid fa-angle-left"></i>
      </div>
    </button>
    <div class="progress-wrapper flex-grow">
      <div
        class="slide-indicator"
        style="top: -5px"
        [ngStyle]="{ left: indicator }"
      >
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        [attr.aria-valuenow]="progress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar" [ngStyle]="{ width: progress + '%' }"></div>
      </div>
    </div>
    <button
      class="d-flex flex-column justify-content-center align-items-center slide-nav"
      (click)="onToNextSlide()"
      [disabled]="disableToNextSlide"
    >
      <div class="icon">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </button>
  </section>

  <section class="container-md d-flex justify-content-center lecture">
    <div class="lecture-slide" [ngSwitch]="activeSlide.type">
      <app-text-slide
        [slide]="activeSlide"
        *ngSwitchCase="'text'"
      ></app-text-slide>
      <app-text-image-slide *ngSwitchCase="'text-image'">
        {{ activeSlide.text }}
      </app-text-image-slide>
      <app-mcq-slide *ngSwitchCase="'mcq'"></app-mcq-slide>
      <app-fill-slide *ngSwitchCase="'q-fill'"></app-fill-slide>
    </div>
  </section>
  <section
    class="container-fluid d-flex align-items-center justify-content-center lecture-controls"
  >
    <button class="btn btn-primary">Click Me</button>
  </section>
</section>
