<section class="p-5 section1">

    <div class="w-75 mx-auto fw-bold div1">
        <h1 class="fs-1 text-info text-center mb-0">Add new career</h1>
        <form [formGroup]="addForm">
            <!-- <i class="fa-regular fa-circle-xmark fs-3 text-info"></i> -->
            <br><br>
            <label for="title" class="text-info">Career name :</label>
            <input formControlName="title" type="text" class="form-control mb-2" id="title">

            <label for="description" class="text-info d-block">Description :</label>
            <textarea formControlName="description" class="d-block form-control mb-2" name="description" id="description"></textarea>

            <!-- <label for="courseList" class="text-info mb-2">Course List :</label>
            <div class="w-100 form-control d-flex justify-content-center align-items-center">

                <div class="text-center me-3">
                    <i class="fa-brands fa-html5 text-danger fs-1 rounded-circle smallIcon pt-1"></i>
                    <h6 class="text-info mt-2 mb-1 div_h6">HTML</h6>
                    <input type="checkbox" class="">
                </div>

                <div class="text-center me-3">
                    <i class="fa-brands fa-css3-alt fs-1 rounded-circle smallIcon pt-1" style="color: #112d5e;"></i>
                    <h6 class="text-info mt-2 mb-1 div_h6">CSS</h6>
                    <input type="checkbox" class="">
                </div>

                <div class="text-center me-3">
                    <i class="fa-brands fa-bootstrap fs-1 rounded-circle smallIcon pt-1" style="color: #0a7454;"></i>
                    <h6 class="text-info mt-2 mb-1 div_h6">Bootstrap</h6>
                    <input type="checkbox" class="">
                </div>

                <div class="text-center me-3">
                    <i class="fa-brands fa-js fs-1 rounded-circle smallIcon pt-1" style="color: #8f0891;"></i>
                    <h6 class="text-info mt-2 mb-1 div_h6">Javascript</h6>
                    <input type="checkbox" class="">
                </div>
            </div> -->

            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-info w-25 mt-3" type="submit" (click)="saveData()">Save</button>
                <button class="btn btn-info w-25 mt-3" type="submit" mat-dialog-close>Cancel</button>
            </div>

        </form>
    </div>
    
</section>