<div class="loginPage">
    <div class="loginForm">
        <img src="../../../../../assets/images/main-logo.svg" alt="logo">

        <h4>Login Page</h4>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="phoneNumber">
                <mat-form-field class="example-full-width">
                    <mat-label>Phone Number</mat-label>
                    <span matPrefix>+2 &nbsp;</span>
                    <input type="tel" maxlength="11" matInput placeholder="555-5555-1234" name="phone" ngModel>
                </mat-form-field>
            </div>
            <div class="btnLogin">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>

    </div>
</div>