<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <div class="col-2">
      <a class="navbar-brand" href="#">
        <img
          src="../../../../assets/images/main-logo.svg"
          alt="Career Officer logo"
        />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-10 div1">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="headerLinks">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                routerLink="/"
                routerLinkActive="active"
                >My Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blogs" routerLinkActive="active"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/contact-us"
                routerLinkActive="active"
                >Contact us</a
              >
            </li>
          </ul>
        </div>
        <div class="headerRight d-flex align-items-center">
          <!-- User Data -->

          <div>
            <div
              class="d-flex align-items-center justify-content-center ms-4"
              *ngIf="displayAuthActions && !displayProfileCard"
            >
              <button class="btn btn-log" (click)="navigateToLogin()">
                Log in
              </button>
              <button class="btn btn-signup" (click)="navigateToSignup()">
                Sign up
              </button>
            </div>

            <div class="dropdown">
              <button
                class="btn btn-userData d-flex align-items-center justify-content-center p-0"
                data-toggle="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border: none"
                *ngIf="displayProfileCard && !displayAuthActions"
              >
                <img class="user-img" [src]="user?.photoURL" alt="" />
                <!-- <p class="p-0 m-0 user-name">{{ userDisplayName }}</p> -->
              </button>
              <ul class="dropdown-menu center-dropdown">
                <li>
                  <a
                    class="dropdown-item d-flex flex-column justify-content-around profile"
                    [routerLink]="['/profile', user?.id]"
                  >
                    <p>{{ user?.displayName }}</p>
                    <span>Go to profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/profile-settings">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-solid fa-circle-info"></i>
                    <span>Help</span>
                  </a>
                </li>
                <li>
                  <button
                    class="dropdown-item logout"
                    href="#"
                    style="color: red"
                    (click)="onLogout()"
                  >
                    <i class="fa-solid fa-right-from-bracket"></i>
                    logout
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
