.navbar {
    width: 100%;
    background-color: #FFFFFF !important;
    padding: 10px 0px;

    .collapse {
        justify-content: space-around;

        .headerLinks {}

        .headerRight {

            i,
            button,
            img {
                margin: 0px 10px;
            }

            .goProButton {
                background-color: #F2AE37;
                color: #FFFFFF;
                padding: 6px 10px;

                img {
                    margin-right: 0px;
                }
            }
        }
    }

    .coursesList{
        li{
            cursor: pointer;
        }
    }

    .btn-log {
        width: 100px;
        font-size: 20px;
        font-weight: bolder;
        color: #1ebcff;
    }

    .btn-signup {
        width: 100px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        background-color: #1ebcff;
    }

    .user-img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .user-name {
        color: #2EA2EB;
    }

    @media screen and (max-width:991px) {
        .div1 {
            margin-top: 10px;
        }

        .fa-bell {
            display: none;
        }

        .search-icon1 {
            display: block;
            margin-left: 150px;
        }

        .search-icon2 {
            display: none;
        }

        .btn-userData {
            margin: 0px !important;
            margin-top: 15px !important;
        }

        .user-img {
            margin-left: 0px !important;
        }
    }
}