<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
        <div class="col-2">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/images/main-logo.svg" alt="Career Officer logo">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-10">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="headerLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/">My Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">IOS</a></li>
                                <li><a class="dropdown-item" href="#">Android</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="navigateToBlogs()" style="cursor: pointer;">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="headerRight d-flex">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-regular fa-bell"></i>
                    <!-- toogle -->
                    <button class="btn goProButton">
                        <div class="d-flex aligh-items-center">
                            <span>Go Pro</span>
                            <img src="../../../../assets/images/goProIcon.svg" alt="">
                        </div>
                    </button>

                    <div class="d-flex align-items-center justify-content-center" *ngIf="!userDisplayName">
                        <button class="btn btn-log" (click)="navigateToLogin()">Log in</button>
                        <button class="btn btn-signup" (click)="navigateToSignup()">Sign up</button>
                    </div>

                    <button class="btn d-flex align-items-center justify-content-center p-0" style="border: none;"
                        (click)="navigateToProfile()" *ngIf="userDisplayName">
                        <img class="user-img" src="{{photoURL}}" alt="">
                        <p class="p-0 m-0 user-name mb-3">{{userDisplayName}}</p>
                    </button>

                </div>
            </div>
        </div>
    </div>
</nav>