<div class="faq">
  <div class="container">
    <!-- The Head -->
    <h1 class="head">Frequently Asked Questions</h1>
    <!-- Table-List -->
    <div class="row">
      <div class="task1 col-lg-3 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">
            <h1 class="title-list">Table of Content</h1>
            <span>General</span>
          </li>
          <li class="list-group-item one-1">Trust and safety</li>
          <li class="list-group-item two-2">Services</li>
          <li class="list-group-item three-3">Billing</li>
          <li class="list-group-item four-4">Office and Cleaning</li>
          <li class="list-group-item five-5"></li>
        </ul>
      </div>

      <!-- Questions -->
      <div class="task2 col-lg-9 col-sm-12">
        <div class="one">
          <h4>How do i pay for the essentials or premium plan?</h4>
          <div class="box">
            <p>
              You can pay with a credit car or via net banking (if you are in
              Poland). We will renew your
            </p>
            <img
              src="../../../../../assets/images/about/FAQ/arrow-bottom.svg"
              alt="arrow-bottom"
            />
          </div>
          <span
            >subscription automatically at the end of every billing cycle.</span
          >
        </div>
        <div class="comment">
          <p>We need to add new users to our team. How will that be billed?</p>
          <img
            src="../../../../../assets/images/about/FAQ/arrow-right.svg"
            alt=""
          />
        </div>
        <div class="comment">
          <p>
            Do you offer discounts for non fropit organizations or educational
            institutions?
          </p>
          <img
            src="../../../../../assets/images/about/FAQ/arrow-right.svg"
            alt=""
          />
        </div>
        <div class="comment">
          <p>
            Can i cancel my essentials or premium plan subscription at anytime?
          </p>
          <img
            src="../../../../../assets/images/about/FAQ/arrow-right.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
