.forgot-password {
  &-header {
    p {
      color: #52b2ee;
      font-family: 20px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .form-control {
      background-color: #e3e9ee48;
      width: 440px;
      height: 48px;
      border-radius: 12px;
      margin-top: 5px;
      @media (max-width: 600px) {
        width: 85%;
      }

      &:focus {
        background-color: white;
      }
    }
    p {
      color: #727b82;
      font-size: 16px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
