<div class="forgot-password">
  <div class="forgot-password-header">
    <p style="cursor: pointer" (click)="onGoBackToLogin()">
      <i class="fa-solid fa-arrow-left"></i> &nbsp; Back to Login
    </p>
  </div>

  <div class="forgot-password-form">
    <h2>Forgot Password</h2>
    <p>
      Enter your registered email below to receive password reset instructions.
    </p>
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          ngModel
          email
          required
          name="userEmail"
        />
      </div>
      <button type="submit" class="btn btn-primary my-1 app-custom-button">
        Send
      </button>
    </form>
  </div>
</div>
