<div class="forgot-password">
  <div class="forgot-password-header">
    <span style="cursor: pointer" (click)="onGoBackToLogin()">
      <i class="fa-solid fa-arrow-left"></i> &nbsp; Back to Login
    </span>
  </div>

  <div class="forgot-password-form">
    <div class="forgot-password-form-instructons">
      <h2>Forgot Password</h2>
      <p>Enter your email to receive password reset code.</p>
    </div>
    <form #userEmail="ngForm">
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          ngModel
          email
          required
          name="userEmail"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary my-1 app-custom-button"
        (click)="onSendCode()"
      >
        Send
      </button>
    </form>
  </div>
</div>
