.button {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  &:hover {
    width: 100px;
    .icon {
      background-color: white;
    }
  }
  .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
    i {
      font-size: 18px;
      line-height: 30px;
      transition: all 0.3s ease-out;
    }
  }
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px;
    color: white;
    transition: all 0.3s ease-out;
  }
}

.button-add {
  background-color: #52b2ee;
}

.button-edit {
  background-color: #52ee52;
}
.button-delete {
  background-color: #ee5752;
}

.lecture-tile {
  text-decoration: none;
  padding: 10px;
}
