<div class="verify">
  <div class="verify-header">
    <span style="cursor: pointer" (click)="onGoBack()">
      <i class="fa-solid fa-arrow-left"></i> &nbsp; Back
    </span>
  </div>
  <div class="verify-form">
    <h2>Email has been Sent!</h2>
    <p>
      To continue, complete this verification step. We've sent a One Time
      Password (OTP) to the email mohamedcasd@gmail.com. Please enter it below.
    </p>
    <form (ngSubmit)="onSubmit()">
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        [config]="{
          length: 4,
          allowNumbersOnly: true,
          inputStyles: {
            width: '100px'
          }
        }"
      ></ng-otp-input>
      <div class="verify-form-resend">
        <div>
          <a
            (click)="onResendCode()"
            style="cursor: pointer"
            [ngStyle]="{ opacity: isResendCodeActive }"
            >Resend Code</a
          >
        </div>
        <div class="timer">
          00:{{ countDown >= 10 ? countDown : "0" + countDown }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary my-1 app-custom-button">
        Verify
      </button>
    </form>
  </div>
</div>
