.btn-primary {
  background-color: #03c9d7;
  border: none;
  margin: 10px;
  width: 150px;
  color: black;
}
.zer {
  background-color: transparent;
  color: white;
  display: block;
  position: absolute;
  right: 50%;
  margin: -10px 10px;
}
