.profile {
  width: 100%;

  &-header {
    width: 100%;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/CO_profile_cover1.svg");
    background-size: cover;

    .user-avatar {
      border: 2px solid white;
      max-width: 128px;
      max-height: 128px;
      margin: 30px;
      border-radius: 50%;
    }
    .user-info {
      width: 300px;
      h3 {
        color: white;
        font-size: 25px;
      }
      img {
        height: 20px;
        width: 20px;
        object-fit: contain;
      }
      p {
        font-size: 14px;
        color: rgb(173, 182, 231);
      }
    }
  }
}
