<section class="profile">
  <section
    class="d-flex justify-content-center align-items-center profile-header"
  >
    <div
      class="d-flex flex-column flex-sm-row justify-content-center align-items-center"
      style="min-height: 200px"
    >
      <img [src]="userDoc.photoURL" alt="" class="user-avatar" />
      <div class="d-flex flex-column align-items-start user-info">
        <h3>
          {{ userDoc.displayName }}
          <span (click)="navigateToSettings()" *ngIf="showSettingsButton">
            <i class="fa-solid fa-pen-to-square"></i>
          </span>
        </h3>
        <p *ngIf="userDoc.bio">
          {{ userDoc.bio }}
        </p>
      </div>
    </div>
  </section>
  <section class="container-md d-flex justify-content-center profile-streak">
    <div class="profile-streak-card">
      <div class="streak-days">
        <h4>Streak</h4>
        <div></div>
      </div>
      <div></div>
      <div></div>
    </div>
  </section>
  <section class="profile-courses"></section>
</section>
