<div *ngIf="!userPaid">
  <app-payment-reminder [user]="userDoc"></app-payment-reminder>
</div>
<section class="profile" *ngIf="userDoc.photoURL !== undefined">
  <section
    class="d-flex justify-content-center align-items-center profile-header"
  >
    <div
      class="d-flex flex-column flex-sm-row justify-content-center align-items-center"
      style="min-height: 200px"
    >
      <img [src]="userDoc.photoURL" alt="" class="user-avatar" />
      <div
        class="d-flex flex-column align-items-center align-items-sm-start user-info"
      >
        <div class="d-flex align-items-center" style="gap: 10px">
          <h3>
            {{ userDoc.displayName }}
          </h3>
          <img
            *ngIf="userDoc.countryCode"
            [src]="
              'https://flagcdn.com/' +
              userDoc?.countryCode?.toLowerCase() +
              '.svg'
            "
            [alt]="userDoc.countryCode"
            [title]="userDoc.country"
          />
        </div>
        <p class="user-info-bio">{{ userDoc.bio }}</p>
        <div class="d-flex user-info-social">
          <a *ngIf="userDoc.linkedIn" href="" class="linkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a *ngIf="userDoc.gitHub" href="" class="gitHub">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>

<app-streak
  [streakDays]="userDoc.streakDays"
  [currentStreak]="userDoc.currentStreak"
  [maxStreak]="userDoc.maxStreak"
></app-streak>
<app-user-courses
  [userDoc]="userDoc"
  *ngIf="isActiveUserProfile"
></app-user-courses>
<app-sessions *ngIf="isActiveUserProfile"></app-sessions>
<app-projects
  [showSubmissionForm]="isActiveUserProfile"
  [showSubmissionButton]="userDoc.paid"
  [userName]="userDoc.displayName.split(' ')[0]"
  [userProjects]="userProjects"
></app-projects>
