
 <div class="container">
    <div class="row">
      <div class="col-3 text-center">
         <img class="rounded-circle" width="70px" src="../../../../../assets/images/student-details/Frame 1171277059.svg" alt="User">
      </div>
      <div class="col-9">
        <h2 class="fs-3">Omar Romih</h2>
        <h3 style="font-size:20px">{{email}}</h3>
        <div class="flag d-flex">
        <img class="imag me-2 " width="25px" height="20px" src="../../../../../assets/images/student-details/Egypt-Flag.svg" alt="Egypt">
        <p>Egypt</p>
      </div>
    </div>
    </div>
    </div>
    <hr>
       <!-- This Progress Mentor From Students -->
<div class="container">
<div class="main">
  <!-- Head -->
   <h2 class="mx-2" style="  color: #2d3846;font-weight: 600;">Progress</h2>
<div class="row">
     <!-- Icons -->
    <ul class="d-flex justify-content-evenly mt-3 mb-4">
      <li class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg> <p>S</p>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg> <p>M</p>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg> <p>T</p>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg><p>W</p>
      </li>
      <li style="border: 3px solid #b2d3a2; width:40px; height: 40px;" class=" d-block rounded-circle"> <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;visibility: hidden;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg><p class="mt-0">T</p></li>
      <li style="border: 3px solid #b2d3a2; width:40px; height: 40px;" class=" d-block rounded-circle"> <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;visibility: hidden;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg><p class="mt-0">F</p></li>
      <li style="border: 3px solid #b2d3a2; width:40px; height: 40px;" class=" d-block rounded-circle"> <svg xmlns="http://www.w3.org/2000/svg" width="40" style="background-color: #40af0c;" style="background-color: #40af0c; border: 1px solid #b2d3a2;visibility: hidden;" fill="currentColor" class="bi bi-check-lg rounded-circle p-1" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
</svg><p class="mt-0">S</p></li>
    </ul>
   </div>
</div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////// -->




 <!-- Button For Mentor List  -->
 <div>
  <button class="btn btn-success next border-0" (click)="getList()"
     matTooltip="go to student List" matTooltipPosition="right">
    <mat-icon class="overflow-visible" style="color: white;">
    <i class="fa-solid fa-circle-arrow-left"></i> </mat-icon></button>
</div>
