
 <div class="container">
    <div class="row">
      <div class="col-3 text-center">
         <img class="rounded-circle" width="70px" src="../../../../../assets/images/student-details/Frame 1171277059.svg" alt="User">
      </div>
      <div class="col-9">
        <h2 class="fs-3">Omar Romih</h2>
        <h3 style="font-size:20px">{{email}}</h3>
        <div class="flag d-flex">
        <img class="imag me-2 " width="25px" height="20px" src="../../../../../assets/images/student-details/Egypt-Flag.svg" alt="Egypt">
        <p>Egypt</p>
      </div>
    </div>
    </div>
    </div>
    <hr>
       <!-- This Progress Mentor From Students -->
<div class="container">
<div class="main">
  <!-- Head -->
   <h2 class="mx-2" style="color: #2d3846;font-weight: 600;">Valuation</h2>
<div class="icon">
     <!-- Icons -->
    <ul class="d-flex justify-content-evenly mt-3 mb-4">
      <li> <mat-icon style="overflow: visible; font-size: 30px;color: #ffb200;" matSuffix>
        <i class="fa-solid fa-star"></i></mat-icon></li>
      <li> <mat-icon style="overflow: visible; font-size: 30px;color: #ffb200;" matSuffix>
        <i class="fa-solid fa-star"></i></mat-icon></li>
      <li> <mat-icon style="overflow: visible; font-size: 30px;" matSuffix>
        <i class="fa-sharp fa-regular fa-star"></i></mat-icon></li>
      <li> <mat-icon style="overflow: visible; font-size: 30px;" matSuffix>
        <i class="fa-sharp fa-regular fa-star"></i></mat-icon></li>
      <li> <mat-icon style="overflow: visible; font-size: 30px;" matSuffix>
        <i class="fa-sharp fa-regular fa-star"></i></mat-icon></li>
    </ul>
</div>
</div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////// -->
<div class="container">
  <div class="row">
  <!-- Acount-Details -->
  <div class="col-sm-12 details">
    <h2>Details</h2>
    <div class="row ms-3 mt-3">
<!-- 1 -->
<div class="col-sm-12 creat">
 <p class="del">Years Experience:</p>
</div>

<!-- 2 -->
<div class="col-sm-12 age">
 <p class="del">Age :</p>
</div>

<!-- 3 -->
<div class="col-sm-12 last-login">
 <p class="del">Number sessions students :</p>
</div>

<!-- 4 -->
<div class="col-sm-12 last-login">
 <p class="del">Number students supervised:</p>
  </div>

<!-- 5 -->
<div class="col-sm-12 last-login">
 <p class="del">Bio:</p>
</div>
</div>
  </div>
  </div>
  <hr>





<!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- Button For Mentor List  -->
  <div>
  <button class="btn btn-success next border-0" (click)="getList()"
      matTooltip="go to student List" matTooltipPosition="right">
    <mat-icon class="overflow-visible" style="color: white;">
    <i class="fa-solid fa-circle-arrow-left"></i> </mat-icon></button>
</div>
