.connected-accounts {
  width: 100%;
  .title {
    h2 {
      color: #52b2ee;
      margin-bottom: 20px;
    }
  }
  .connect-card {
    padding: 10px;
    background-color: #eaf6fd;
    border-radius: 10px;
    width: 100%;
    p {
      color: #9ba2a6;
      align-self: self-end;
      margin-left: 10px;
      @media (max-width: 500px) {
        display: none;
      }
    }
    .btn-primary {
      margin-left: auto;
      background-color: #52b2ee;
      border: none;
      width: 150px;
    }
  }
}
