<div class="parent">
  <div class="container">
    <!-- The Header -->
    <h1>Discover New Courses</h1>

    <!-- The Cards -->
    <div class="row cardes-list">
      <!-- Card__1 -->
      <div class="card-one">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
      Card__2
      <div class="card-two">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
      <!-- Card__3 -->
      <div class="card-three">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
      <!-- Card__4 -->
      <div class="card-four">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
      <!-- Card__5 -->
      <div class="card-five">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
      <!-- Card__6 -->
      <div class="card-six">
        <div class="image">
          <img
            src="../../../../../assets/images/courses-list/icon-green.svg"
            alt="icon"
          />
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <h3>Web Development</h3>
        <span>in progress</span>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo
        </p>
        <div class="footer">
          <div class="witch">
            <img
              src="../../../../../assets/images/courses-list/screen.svg"
              alt=""
            />
            <span class="text">25 classes</span>
          </div>
          <div class="people">
            <img
              src="../../../../../assets/images/courses-list/people.svg"
              alt=""
            />
            <span class="text">2.556 students</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
