<section class="section1 text-center">
  <div
    class="d-flex justify-content-center align-items-center border border-2 border-info rounded-3 div1"
  >
    <i class="fa-regular fa-file-code fs-1 text-warning me-3"></i>
    <h1 class="border-2 rounded-2 text-center mt-2">Career detials</h1>
  </div>
  <br /><br />

  <div class="container-fluid d-flex justify-content-start actions">
    <button class="add-button" (click)="addCourse()">Add Course</button>
    <button class="add-button" (click)="navigateToSessions()">Sessions</button>
  </div>

  <br /><br />
  <div class="container">
    <div class="row" style="gap: 25px">
      <div class="col-5" *ngFor="let course of courses | async">
        <app-course-card [course]="course" [hide]="true"></app-course-card>
      </div>
    </div>
  </div>
</section>
