//////////////////////////////////  Variables  //////////////////////////////////

$mainColor: #52b2ee;
$blue: #1e90ff;
$darkBlue: #313860;
$shadowColor: lightblue;
$borderColor: rgb(116, 211, 226);
$Font12: 12px;
$Font14: 14px;
$Font20: 20px;

////////////////////////////////////  Code  ////////////////////////////////////

h1 {
  color: $darkBlue;
}

.section1 {
  padding: 50px;
}

.div1 {
  padding: 5px;
  box-shadow: 10px 10px 5px $shadowColor;
}

.card_img {
  width: 220px;
  height: 200px;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  color: var($darkBlue);
  font-weight: bolder;
}

.icon {
  position: relative;
  left: 80%;
}

.title {
  font-size: 40px;
  font-weight: bolder;
}

.add-button {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #52b2ee;
}

.actions {
  gap: 10px;
}
