<section class="subscribe d-flex flex-column align-items-center">
  <h1>Choose Your Plan</h1>

  <img src="../../../assets/images/subArt1.svg" alt="" />
  <p class="mb-4"><span>Best Plans For </span> <span>Office Management</span></p>
  <div class="d-flex flex-column flex-lg-row justify-content-between offer">
    <!-- <div
      class="offer-card align-self-end d-flex flex-column align-items-center"
    >
      <p id="plan-name">Basic</p>
      <p id="plan-price">1030.00 <small>EGP</small></p>
      <span>User/Month</span>
      <ul>
        <li class="available">Attendance Management</li>
        <li class="available">Leave System Management</li>
        <li class="available">Employee Management</li>
        <li class="available">Chat Support</li>
        <li class="strick">Expense Tracking</li>
        <li class="strick">Invoice Generate</li>
        <li class="strick">Purchase Generate</li>
        <li class="strick">Payroll</li>
        <li class="strick">App Management</li>
      </ul>
      <button class="btn btn-primary" (click)="choosePCK(1030)">Choose Plan</button>
    </div> -->
    <div
      class="offer-card dark-bg align-self-end d-flex flex-column align-items-center"
    >
      <p id="plan-name">Advanced</p>
      <p id="plan-price">1030.00 <small>EGP</small></p>
      <span>User/Month</span>
      <ul>
        <li class="available">Attendance Management</li>
        <li class="available">Leave System Management</li>
        <li class="available">Employee Management</li>
        <li class="available">Chat Support</li>
        <li class="available">Expense Tracking</li>
        <li class="available">Invoice Generate</li>
        <li class="available">Purchase Generate</li>
        <li class="strick">Payroll</li>
        <li class="strick">App Management</li>
      </ul>
      <button class="btn btn-primary" (click)="choosePCK(1200)">Choose Plan</button>
    </div>
    <!-- <div
      class="offer-card align-self-end d-flex flex-column align-items-center"
    >
      <p id="plan-name">Premium</p>
      <p id="plan-price">1030.00 <small>EGP</small></p>
      <span>User/Month</span>
      <ul>
        <li class="available">Attendance Management</li>
        <li class="available">Leave System Management</li>
        <li class="available">Employee Management</li>
        <li class="available">Chat Support</li>
        <li class="available">Expense Tracking</li>
        <li class="available">Invoice Generate</li>
        <li class="available">Purchase Generate</li>
        <li class="available">Payroll</li>
        <li class="available">App Management</li>
      </ul>
      <button class="btn btn-primary" (click)="choosePCK(1500)">Choose Plan</button>
    </div> -->
  </div>
</section>