<section class="p-5 section1">
  <div class="w-75 mx-auto fw-bold div1">
    <h1 class="fs-1 text-warning text-center">Warrining</h1>
    <br />
    <h1 class="fs-3 text-danger text-center mb-0">
      Do you want to delete career ?
    </h1>

    <form [formGroup]="deleteForm">
      <br /><br />
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-danger text-white w-25 mt-3"
          type="submit"
          mat-dialog-close
          [mat-dialog-close]="true"
        >
          Delete
        </button>
        <button
          class="btn btn-info text-white w-25 mt-3"
          type="submit"
          mat-dialog-close
          [mat-dialog-close]="false"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</section>
