// background For body //
.parent {
  background-color: #fbfdff;
}

// The Header //
h1 {
  font: {
    weight: 600;
    size: 48px;
  }

  line-height: 36px;
  letter-spacing: -1px;
  color: #35434d;
  text-align: center;
  padding: 50px 0 20px;
}

@media (max-width: 767px) {
  h1 {
    padding-bottom: 0px;
    line-height: 50px;
  }
}

// The Cards //
.cardes-list {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px 35px;

  .card-one,
  .card-two,
  .card-three,
  .card-four,
  .card-five,
  .card-six {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px -6px #999;

    .image {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 40px;
        color: #a9d9f7;
      }
    }

    h3 {
      line-height: 28px;
      letter-spacing: -0.8px;
      font-size: 20px;
      font-weight: 600;
      color: #2ea2eb;
      margin: 5px 0;
    }

    span {
      line-height: 20px;
      letter-spacing: -0.1px;
      font-size: 14px;
      font-weight: 500;
      color: #9ca2a6;
      text-transform: capitalize;
    }

    p {
      line-height: 20px;
      letter-spacing: -0.1px;
      font-size: 14px;
      font-weight: 300;
      color: #727b82;
      text-transform: capitalize;
      margin: 20px 0;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #e7e8e9;
      padding-top: 12px;

      .text {
        line-height: 20px;
        letter-spacing: -0.1px;
        font-size: 14px;
        font-weight: 400;
        color: #35434c;
        margin-left: 15px;
      }
    }
  }
}
