.delete {
  text-align: center;
  border: 1px solid #06adba;
  margin: 5px;
  border-radius: 10px;

  h1 {
    color: red;
    font-size: 20px;

  }

  .massge {
    margin-top: 20px;
    color: black;
    padding: 0;
    margin-bottom: 30px;
  }

  .action {
    justify-content: space-around;
  }
}
