
<!-- ------------------------------------Add/Filter--------------------------------------------------------- -->
<div class="container">
    <!-- button Add User -->
    <div class="col p-0">
      <button title="Add Student" class="btn btn-info text-light border-0" (click)="openDialog()"
        matTooltip="Add Student" matTooltipPosition="right">
        <mat-icon class="mb-2 overflow-visible"> <i class="fa-solid fa-circle-plus"></i>
        </mat-icon></button>
  </div>
</div>


  <table class="table table-striped text-center">
              <!-- The Header -->
    <thead>
      <tr>
        <th>MentorName</th>
        <th>Years Experience</th>
        <th>Number sessions students</th>
        <th>Number students supervised</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Details</th>
      </tr>
    </thead>
              <!-- The Content -->
    <tbody>
      <tr>
        <td>Omer</td>
        <td> 6 <button class="border-0" style="font-size: 12px;" disabled> years   </button> </td>
        <td> 3 <button class="border-0" style="font-size: 12px;" disabled> sessions</button> </td>
        <td> 4 <button class="border-0" style="font-size: 12px;" disabled> students</button> </td>
                <!-- Button Delete User  -->
        <td class="text-center"><button style="color: red; border: none; background-color: transparent;"
           matTooltip="delet Student" matTooltipPosition="below" (click)=" DeletDialogs('0ms', '0ms')">
          <mat-icon matSuffix>delete</mat-icon></button>
        </td>

        <!-- Button Edit User  -->
        <td class="text-center"> <button class="border-0" style="color: #0a66c2;"
           matTooltip="edit Student" matTooltipPosition="below" (click)=" EditDialog()" >
           <mat-icon style="font-size: 20px;"><i class="fa-solid fa-pen"></i></mat-icon></button></td>

          <!-- Button Padge Student Details  -->
        <td class="text-center"><button class="btn btn-success next bg-transparent p-0 border-0"
           (click)="getComm()" matTooltip="Student Details" matTooltipPosition="below"><mat-icon
           class="overflow-visible" style="color: #00c292;"><i class="fa-solid fa-circle-arrow-right">
           </i> </mat-icon></button>
        </td>

      </tr>

      <!-- <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.country }}</td>
      </tr> -->
    </tbody>
  </table>

