<!--------------------------------- Section 1 ------------------------------------>

<section class="s1 container">
    <div class="row s1-1 d-flex justify-content-center align-items-center">
        <div class="text-center col-xl-8 col-md-6 col-sm-12 py-3">
            <button class="s1-2 p-2 my-3">Tips and tricks</button>
            <div class="s1-div d-flex justify-content-center mb-4 bg-transparent">
                <p class="s1-3">written by <span class="s1-4"><a class="s1-5" href="">Thomas Paul</a></span></p>
                <p class="s1-3">published on <span class="s1-6">9. 6. 2021</span></p>
            </div>
            <p class="s1-7">Ultimate Guide for Early stage Startup Designers</p>
        </div>
    </div>
</section>

<!--------------------------------- Section 2 ------------------------------------>

<section class="s2 container py-5">
    <div class="row s2-1">
        <div class="col-md-7 s2-2">
            <p class="s2-3">The life of a graphic designer in an early-stage startup can look very lonely in many ways.
                But the opposite may be true. It is just the way you set it up.</p>
            <p class="s2-4">First of all, however, I would ask myself the question: "Is the position of Startup Designer
                really for me"? Within 7 years of working for startups, I have learned a lot. </p>
            <p class="s2-4">Here are some tips on capturing a project from scratch and being prepared for the rapidly
                changing startup ecosystem.</p>
            <p class="s2-3">Build a system that behaves naturally to all changes</p>
            <p class="s2-4">I called it a system because it is a working list of files or rules you use, but especially
                by your collaborators.
            </p>
            <p class="s2-3">Analyze the main structure of the system (Brand, Marketing, Product)</p>
            <p class="s2-4">I called it a system because it is a working list of files or rules you use, but especially
                by your collaborators.</p>
            <p class="s2-3">Overall overview
            </p>
            <p class="s2-4">The overall overview is the main building block for you, the team, and especially the new
                designers coming to your project in the future. Pin main sections and points of communication elements
                for all possible sectors (brand, product marketing, etc.) to how they work and communicate with each
                other.
            </p>
            <p class="s2-3">Tool selection (do not select tools only by yourself).
            </p>
            <p class="s2-4">Properly selected tools and graphics applications are crucial in the startup's beginnings in
                terms of the speed of construction of materials for graphics, their changes, and cooperation in the
                team. Therefore, it is necessary to pay excessive attention to this point and specify with your team all
                the necessary needs to find the right tools.
            </p>
        </div>
        <div class="col-md-3 offset-md-1 s2-5">
            <img class="s2-6" src="../../../../../assets/images/blog details/2.svg" alt="">
            <ul class="s2-7 pt-5">
                <li class="s2-8"><a href="">CATEGORIES</a></li>
                <li class="s2-9"><a href="">All categories</a></li>
                <li class="s2-9"><a href="">Design</a></li>
                <li class="s2-9"><a href="">Tools</a></li>
                <li class="s2-9"><a href="">Life</a></li>
                <li class="s2-9"><a href="">Tips and Tricks</a></li>
            </ul>
            <ul class="s2-7 pt-5">
                <li class="s2-8"><a href="">share article</a></li>
                <li class="s2-9"><a href="">Facebook</a></li>
                <li class="s2-9"><a href="">Twitter</a></li>
                <li class="s2-9"><a href="">LinkedIn</a></li>
                <li class="s2-9"><a href="">Email</a></li>
            </ul>
        </div>
    </div>
</section>

<!--------------------------------- Section 3 ------------------------------------>

<section class="s3 container pb-5 mb-5">
    <h2 class="s3-1">You might love</h2>
    <div class="s3-2 row">

        <div class="col-xl-3 col-md-6 col-sm-12 s3-3">
            <div class="s3-44">
                <img class="s3-4" src="../../../../../assets/images/blog list/11.svg" alt="">
                <span class="s3-444">Tools</span>
            </div>
            <h4 class="s3-5">Figma, Sketch, XD or Lunacy? Who rules?</h4>
            <div class="s3-6 d-flex justify-content-between">
                <p class="s3-7">written by <span class="s3-8">Thomas Paul</span></p>
                <p class="s3-9">published on <span class="s3-10">9. 6. 2021</span></p>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 s3-3">
            <div class="s3-55">
                <img class="s3-4" src="../../../../../assets/images/blog list/22.svg" alt="">
                <span class="s3-555">tips and tricks</span>
            </div>
            <h4 class="s3-5">Best .js to your next
                web project</h4>
            <div class="s3-6 d-flex justify-content-between">
                <p class="s3-7">written by <span class="s3-8">Thomas Paul</span></p>
                <p class="s3-9">published on <span class="s3-10">9. 6. 2021</span></p>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 s3-3">
            <div class="s3-66">
                <img class="s3-4" src="../../../../../assets/images/blog list/33.svg" alt="">
                <span class="s3-666">development</span>
            </div>
            <h4 class="s3-5">Building a blog site
                from the scratch</h4>
            <div class="s3-6 d-flex justify-content-between">
                <p class="s3-7">written by <span class="s3-8">Thomas Paul</span></p>
                <p class="s3-9">published on <span class="s3-10">9. 6. 2021</span></p>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12 s3-3">
            <div class="s3-77">
                <img class="s3-4" src="../../../../../assets/images/blog list/44.svg" alt="">
                <span class="s3-777">Tools</span>
            </div>
            <h4 class="s3-5">Figma, Sketch, XD or Lunacy? Who rules?</h4>
            <div class="s3-6 d-flex justify-content-between">
                <p class="s3-7">written by <span class="s3-8">Thomas Paul</span></p>
                <p class="s3-9">published on <span class="s3-10">9. 6. 2021</span></p>
            </div>
        </div>
    </div>
</section>
