<!--------------------------------- Section 1 ------------------------------------>

<section class="s1 container-fluid my-0 d-flex align-items-center justify-content-center">

  <img src="../../../.../../assets/images/Contact-us/Image.svg" alt="" class="w-100 s1-img">
  <div class="s1-div bg-white bg-opacity-75 text-center p-4">
    <button class="btn btn-info text-white rounded-5 s1-btn mb-4">Contactus</button>
    <h2 class="s1-h2">Feel Free To Reach Us</h2>
  </div>
</section>

<!--------------------------------- Section 2 ------------------------------------>

<section class="s2 container py-5 my-3">

  <div class="row d-flex align-items-center justify-content-between s2-div11">

    <img src="../../../assets/images/Contact-us/Image (1).svg" alt="" class="col-xl-4 s2-img">

    <div class="col-xl-4 s2-div">
      <div class="s2-div1">
        <button class="btn text-white rounded-5 s2-btn mb-4">Let’s talk</button>
        <h3 class="s2-div1-h3">Get In Touch With Us</h3>
        <p class="s2-div1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
          dolore.</p>
      </div>

      <div class="s2-div2">
        <div class="d-flex">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon_1.svg" alt="">
          </div>
          <div class="">
            <h6 class="s2-div2-h6">Have Any Question?</h6>
            <p class="s2-div2-p">Free +01 238 543 987</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon (2).svg" alt="">
          </div>
          <div class="">
            <h6 class="s2-div2-h6">Write Email</h6>
            <p class="s2-div2-p">Info.consultalk.com</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon (1).svg" alt="">
          </div>
          <div class="">
            <h6 class="s2-div2-h6">Visit Anytime</h6>
            <p class="s2-div2-p">King Street, Prior Lake, New York.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--------------------------------- Section 3 ------------------------------------>

<div class="s3 container section py-5 my-3">

  <div class="row d-flex justify-content-center s3-div11">

    <!-- div1 -->

    <div class="col-xl-5 s3-div1">

      <div class="s3-div1-1 mb-4">
        <button class="btn text-white rounded-5 s3-btn1 mb-3">Proccess</button>
        <h3 class="s3-div1-1-h3 mb-3">Contact Us. It’s Easy.</h3>
        <p class="s3-div1-1-p mb-5">Leverage agile frameworks to provide a robust synopsis for high level overviews.
          Iterative approaches to corporate strategy foster collaborative.</p>
      </div>

      <div class="s3-div1-2">

        <div class="d-flex mt-4">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon (3).svg" alt="icon">
          </div>
          <div class="">
            <h6 class="s3-div1-2-h6">Call Today</h6>
            <p class="s3-div1-2-p">+1 800 100 900</p>
          </div>
        </div>

        <div class="d-flex mt-4">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon (4).svg" alt="">
          </div>
          <div class="">
            <h6 class="s3-div1-2-h6">Monday To Friday</h6>
            <p class="s3-div1-2-p">9AM - 5PM</p>
          </div>
        </div>

        <div class="d-flex mt-4">
          <div class="me-3">
            <img src="../../../assets/images/Contact-us/Icon (5).svg" alt="">
          </div>
          <div class="">
            <h6 class="s3-div1-2-h6">USA Office</h6>
            <p class="s3-div1-2-p">195 Devonshire St Boston, MA 02110</p>
          </div>
        </div>

      </div>

    </div>

    <!-- div2 -->

    <div class="s3-div2 col-xl-6 offset-xl-1">

      <div class="s3-div2-div">

        <div class="s3-div2-div1 d-flex align-items-center justify-content-start">
          <div class="me-4 w-50">
            <label for="" class="s3-div2-div1-lb">First name</label>
            <input type="text" placeholder="george" class="form-control w-100 s3-div2-div1-inp">
          </div>
          <div class="w-50">
            <label for="" class="s3-div2-div1-lb">Last name</label>
            <input type="text" placeholder="mikhaiel" class="form-control w-100 s3-div2-div1-inp">
          </div>
        </div>

        <div class="s3-div2-div2 d-flex align-items-center justify-content-start mt-4">
          <div class="me-4 w-50">
            <label for="" class="s3-div2-div1-lb">Email</label>
            <input type="text" placeholder="Example@email.com" class="form-control w-100 s3-div2-div1-inp">
          </div>
          <div class="w-50">
            <label for="" class="s3-div2-div1-lb">Phone</label>
            <input type="number" placeholder="01275501908" class="form-control w-100 s3-div2-div1-inp">
          </div>
        </div>

        <div class="s3-div2-div3 mt-4">
          <label for="" class="s3-div2-div1-lb">company (optional)</label>
          <input type="number" placeholder="01275501908" class="form-control s3-div2-div1-inp w-50">
        </div>

        <div class="s3-div2-div4 mt-4">
          <label for="" class="s3-div2-div1-lb">Message</label>
          <textarea name="" id="" class="s3-div2-div4-ta form-control w-100"
            placeholder="Briefly tell us about your project and your current goals. How can we help you?"></textarea>
        </div>
      </div>

      <button class="btn w-50 mt-5 s3-btn2">Send Message</button>

    </div>

  </div>
</div>
