button {
  margin: 10px;
  padding: 8px 20px;
  border-radius: 12px;
  border: none;
  :focus {
    border: none !important;
  }
}
.btn-cancel {
  background-color: #e43535;
  color: white;
}
.btn-update {
  background-color: #52b2ee;
  color: white;
  &:disabled {
    background-color: #52b2eeab;
  }
}
.close-button {
  padding: 0px;
  margin: 10px;
  margin-left: auto;
  border: nono;
  background-color: transparent;
  &:focus {
    border: none !important;
  }
  i {
    color: grey;
    font-size: 20px;
  }
}
