<section
  class="container-md d-flex justify-content-center user-courses"
  #container
>
  <div
    style="
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      display: none;
    "
    #loadingSpinner
  >
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="user-courses-card" style="opacity: inherit">
    <div class="d-flex align-items-baseline user-courses-card-header">
      <h4>Courses in Progress</h4>
    </div>
    <p *ngIf="!userDoc.paid" class="unpaid-user-message">
      You don't have any ongoing courses, yet. Start your learning jouney,
      <span><a routerLink="/subscribe/pay">NOW</a></span
      >!
    </p>
    <div *ngIf="userDoc.paid">
      <app-course-card
        *ngFor="let course of courses"
        [course]="course"
        [userCourseList]="userDoc.courseList"
        (enrolling)="enrollingUser($event)"
      ></app-course-card>
    </div>
  </div>
</section>
