<h3 mat-dialog-title>Hi There</h3>
<mat-dialog-content>
  <mat-form-field>
    <label>Slide Type</label>
    <mat-select #slideType value="text">
      <mat-option value="text">Text</mat-option>
      <mat-option value="text-image">Text & Image</mat-option>
      <mat-option value="mcq">MCQ</mat-option>
      <mat-option value="q-fill">Fill the blanks</mat-option>
    </mat-select>
  </mat-form-field>
  <form #textForm="ngForm" (ngSubmit)="onSubmit(textForm, slideType.value)">
    <mat-form-field>
      <mat-label>Text</mat-label>
      <textarea
        #textField
        matInput
        type="text"
        required
        maxlength="240"
        ngModel
        name="text"
      ></textarea>
      <mat-hint align="end"> {{ textField.value.length }} / 240 </mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="slideType.value === 'q-fill'">
      <mat-label>Answer</mat-label>
      <input
        matInput
        type="text"
        required
        maxlength="240"
        ngModel
        name="fillAnswer"
      />
    </mat-form-field>
    <ngx-file-drop
      dropZoneLabel="Drop files here"
      *ngIf="slideType.value === 'text-image'"
      (onFileDrop)="dropped($event)"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <button
          type="button"
          class="btn btn-primary"
          (click)="openFileSelector()"
        >
          Browse Files
        </button>
      </ng-template>
    </ngx-file-drop>
    <div *ngIf="slideType.value === 'mcq'">
      <mat-form-field>
        <label for="mcq-answer">Answer</label>
        <input
          matInput
          type="number"
          id="mcq-answer"
          required
          ngModel
          name="mcqAnswer"
          max="3"
          min="0"
        />
      </mat-form-field>
      <div class="d-flex" style="gap: 10px">
        <mat-form-field>
          <label for="option1">Option 1</label>
          <input
            matInput
            type="text"
            id="option1"
            required
            ngModel
            name="firstOption"
          />
        </mat-form-field>
        <mat-form-field>
          <label for="option2">Option 2</label>
          <input
            matInput
            type="text"
            id="option2"
            required
            ngModel
            name="secondOption"
          />
        </mat-form-field>
      </div>
      <div class="d-flex" style="gap: 10px">
        <mat-form-field>
          <label for="option3">Option 3</label>
          <input matInput type="text" id="option3" ngModel name="thirdOption" />
        </mat-form-field>
        <mat-form-field>
          <label for="option4">Option 4</label>
          <input
            matInput
            type="text"
            id="option4"
            ngModel
            name="fourthOption"
          />
        </mat-form-field>
      </div>
    </div>
    <mat-dialog-actions align="center">
      <button class="btn btn-primary" type="submit">Add Slide</button>
      <button class="btn btn-danger" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
