.change-password {
  .title {
    h2 {
      color: #52b2ee;
      margin-bottom: 20px;
    }
  }
  form {
    .form-control {
      background-color: #e3e9ee48;
      border-radius: 12px;
      margin: 10px 0px;
      &:focus {
        background-color: white;
      }
    }
    .form-control,
    .password-strength-meter {
      width: 440px;
      height: 48px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
