.btn-primary {
  background-color: white;
  border: 1px solid #52b2ee;
  color: #52b2ee;
}
.btn-danger {
  background-color: #e43535;
  border: 1px solid #e43535;
  color: white;
}

.spinner {
  opacity: 0.8;
}
