.checklist-card
{
  box-shadow: #b6bec4 0px 3px 8px; 
  border-radius: 12px;
  background-color: #b6bec4 ;
  margin: 15px 0px;
}

.check-inpt
{
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #03c9d7;
  border: none;
  margin: 10px;
}

.btn-danger {
  background-color: #ee5752;
  border: none;
  margin: 10px;
}
