<section class="section1 border-2">

    <div class="d-flex justify-content-center align-items-center border border-2 border-info rounded-3 div1">
      <i class="fa-solid fa-laptop-code fs-1 text-warning me-3"></i>
      <h1 class="h11 text-center">Career list</h1>
    </div>
    <br><br>
  
    <div class="container d-flex justify-content-between flex-wrap">
  
      <div class="card">
        <div class="card-body p-2">
          <img src="../../../../../assets/images/New/13.jpg" class="card-img-top card_img rounded-4 mt-0" alt="...">
          <h2 class="text-info texst-center">UI</h2>
          <h5 class="text-success">30 Hours</h5>
          <h6 class="text-warning">30 Lessons</h6>
          <a href=""  [routerLink]="['/career/:id']" class="align-items-end">
            <i class="fa-solid fa-angles-right text-info icon"></i>
          </a>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body p-2">
          <img src="../../../../../assets/images/New/14.jpg" class="card-img-top card_img rounded-4 mt-0" alt="...">
          <h2 class="text-info texst-center">UI / UX</h2>
          <h5 class="text-success">40 Hours</h5>
          <h6 class="text-warning">40 Lessons</h6>
          <a href=""  [routerLink]="['/career/:id']" class="align-items-end">
            <i class="fa-solid fa-angles-right text-info icon"></i>
          </a>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body p-2">
          <img src="../../../../../assets/images/New/152.png" class="card-img-top card_img rounded-4 mt-0" alt="...">
          <h2 class="text-info texst-center">Frontend</h2>
          <h5 class="text-success">50 Hours</h5>
          <h6 class="text-warning">50 Lessons</h6>
          <a href=""  [routerLink]="['/career/:id']" class="align-items-end">
            <i class="fa-solid fa-angles-right text-info icon"></i>
          </a>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body p-2">
          <img src="../../../../../assets/images/New/163.jpeg" class="card-img-top card_img rounded-4 mt-0" alt="...">
          <h2 class="text-info texst-center">Backend</h2>
          <h5 class="text-success">60 Hours</h5>
          <h6 class="text-warning">60 Lessons</h6>
          <a href=""  [routerLink]="['/career/:id']"  routerLinkActive="router-link-active"  class="align-items-end">
            <i class="fa-solid fa-angles-right text-info icon"></i>
          </a>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body p-2">
          <img src="../../../../../assets/images/New/17.jpg" class="card-img-top card_img rounded-4 mt-0" alt="...">
          <h2 class="text-info texst-center">Fullstack</h2>
          <h5 class="text-success">100 Hours</h5>
          <h6 class="text-warning">100 Lessons</h6>
          <a href=""  [routerLink]="['/career/:id']" class="align-items-end">
            <i class="fa-solid fa-angles-right text-info icon"></i>
          </a>
        </div>
      </div>
  
    </div>
  
    <!--------------------- button ----------------------->
  
    <button class="text-info fs-5 py-2 mb-5 me
    -auto" mat-raised-button (click)="openDialog()">
      <i class="fa-solid fa-circle-plus m-3"></i></button>
  
  </section>